﻿@using System.IO
@using System.Security.Claims
@using Microsoft.AspNetCore.Http.Extensions


<div class="mi hidden-xs hidden-sm">
    @*<a class="mi-link" href="@Url.Action("Subcategories", "Categories", new {categoryId = category.CategoryId})">@category.Title</a>*@
    <span class="mi-link user">
        @Html.Raw(File.ReadAllText("wwwroot/svg/user.svg"))
        @User.Claims?.FirstOrDefault(x => x.Type.Equals("name", StringComparison.OrdinalIgnoreCase))?.Value

    </span>


    <div class="submenu user">
        <a href="#"><span class="fa fa-user-circle"></span> Ο λογαριασμός μου</a>

        <a href="#"><span class="fa fa-shopping-bag"></span> Οι παραγγελίες μου</a>

        <a href="#"><span class="fa fa-heart"></span> H wishlist μου</a>

        <a asp-action="Signout" asp-controller="Account"><span class="fa fa-sign-out"></span> Έξοδος</a>
    </div>
</div>

<div class="mi hidden-md hidden-lg">
    @*<a class="mi-link" href="@Url.Action("Subcategories", "Categories", new {categoryId = category.CategoryId})">@category.Title</a>*@
    <a asp-action="UserMobileMenu" asp-controller="Account" class="mi-link user">
        @Html.Raw(File.ReadAllText("wwwroot/svg/user.svg"))
        @User.Claims?.FirstOrDefault(x => x.Type.Equals("name", StringComparison.OrdinalIgnoreCase))?.Value
    </a>
</div>


