﻿<div>
    <a href="#"><span class="fa fa-user-circle"></span> Ο λογαριασμός μου</a>
</div>
<div>
    <a href="#"><span class="fa fa-shopping-bag"></span> Οι παραγγελίες μου</a>
</div>
<div>
    <a href="#"><span class="fa fa-heart"></span> H wishlist μου</a>
</div>
<div>
    <a asp-action="Signout" asp-controller="Account"><span class="fa fa-sign-out"></span> Έξοδος</a>
</div>
