﻿@using Microsoft.AspNetCore.Http.Extensions
<div>
    <a asp-action="SignIn" asp-route-returnUrl="@ViewContext.HttpContext.Request.GetEncodedPathAndQuery()">
        <i class="fa fa fa-sign-in" aria-hidden="true"></i> Συνδέση
    </a>
</div>
<div>
<a asp-action="SignIn" asp-route-returnUrl="@ViewContext.HttpContext.Request.GetEncodedPathAndQuery()">
    <i class="fa fa-user-plus" aria-hidden="true"></i> Εγγραφή
</a>
</div>
<div>
    <a asp-action="SignIn" asp-route-returnUrl="@ViewContext.HttpContext.Request.GetEncodedPathAndQuery()">
        <i class="fa fa-key" aria-hidden="true"></i> Ξέχασα το password
    </a>
</div>


