﻿<script src="~/lib/jquery/jquery.min.js"></script>
<script src="~/lib/jquery/jquery.validate.min.js"></script>
<script src="~/lib/jquery/jquery.validation.unobtrusive.min.js"></script>
<script src="~/lib/jquery/jquery.validate.messages.el.min.js"></script>
<script src="~/lib/jquery/jquery.validate.decimal.numbers.min.js"></script>
<script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
<script src="~/js/tinymce.config.min.js"></script>
