﻿<div class="wrap" id="bottom-wrap">
    <div class="container-fluid">
        <div class="row same-height-md">
            <div class="col-md-3 t-center">
                <img class="max-width" id="logo-footer" src="~/images/logo2.png" alt="Cannature" />
                <div class="social-icons">
                    <a href="https://www.facebook.com/cbdoilshop.gr.Halandri">
                        <svg class="icon-svg icon-fb" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                             viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                            <g>
                                <g>
                                <path d="M448,0H64C28.704,0,0,28.704,0,64v384c0,35.296,28.704,64,64,64h192V336h-64v-80h64v-64c0-53.024,42.976-96,96-96h64v80
			                            h-32c-17.664,0-32-1.664-32,16v64h80l-32,80h-48v176h96c35.296,0,64-28.704,64-64V64C512,28.704,483.296,0,448,0z" />
                                </g>
                            </g>
                        </svg>
                    </a>
                    <a href="#">
                        <svg class="icon-svg icon-tw" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                             viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                                <g>
                                    <g>
                                    <path d="M512,97.248c-19.04,8.352-39.328,13.888-60.48,16.576c21.76-12.992,38.368-33.408,46.176-58.016
			                            c-20.288,12.096-42.688,20.64-66.56,25.408C411.872,60.704,384.416,48,354.464,48c-58.112,0-104.896,47.168-104.896,104.992
			                            c0,8.32,0.704,16.32,2.432,23.936c-87.264-4.256-164.48-46.08-216.352-109.792c-9.056,15.712-14.368,33.696-14.368,53.056
			                            c0,36.352,18.72,68.576,46.624,87.232c-16.864-0.32-33.408-5.216-47.424-12.928c0,0.32,0,0.736,0,1.152
			                            c0,51.008,36.384,93.376,84.096,103.136c-8.544,2.336-17.856,3.456-27.52,3.456c-6.72,0-13.504-0.384-19.872-1.792
			                            c13.6,41.568,52.192,72.128,98.08,73.12c-35.712,27.936-81.056,44.768-130.144,44.768c-8.608,0-16.864-0.384-25.12-1.44
			                            C46.496,446.88,101.6,464,161.024,464c193.152,0,298.752-160,298.752-298.688c0-4.64-0.16-9.12-0.384-13.568
			                            C480.224,136.96,497.728,118.496,512,97.248z" />

	                                </g>
                                </g>
                        </svg>
                    </a>
                    <a href="#">
                        <svg class="icon-svg icon-yt" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                             viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                            <g>
                                <g>
                                    <path d="M490.24,113.92c-13.888-24.704-28.96-29.248-59.648-30.976C399.936,80.864,322.848,80,256.064,80
			                            c-66.912,0-144.032,0.864-174.656,2.912c-30.624,1.76-45.728,6.272-59.744,31.008C7.36,138.592,0,181.088,0,255.904
			                            C0,255.968,0,256,0,256c0,0.064,0,0.096,0,0.096v0.064c0,74.496,7.36,117.312,21.664,141.728
			                            c14.016,24.704,29.088,29.184,59.712,31.264C112.032,430.944,189.152,432,256.064,432c66.784,0,143.872-1.056,174.56-2.816
			                            c30.688-2.08,45.76-6.56,59.648-31.264C504.704,373.504,512,330.688,512,256.192c0,0,0-0.096,0-0.16c0,0,0-0.064,0-0.096
			                            C512,181.088,504.704,138.592,490.24,113.92z M192,352V160l160,96L192,352z"/>
                                </g>
                            </g>
                        </svg>
                    </a>
                    <a href="#">
                        <svg class="icon-svg icon-pt" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                             viewBox="0 0 511.977 511.977" style="enable-background:new 0 0 511.977 511.977;" xml:space="preserve">
                            <g>
                                <g>

                                    <path d="M262.948,0C122.628,0,48.004,89.92,48.004,187.968c0,45.472,25.408,102.176,66.08,120.16
			                            c6.176,2.784,9.536,1.6,10.912-4.128c1.216-4.352,6.56-25.312,9.152-35.2c0.8-3.168,0.384-5.92-2.176-8.896
			                            c-13.504-15.616-24.224-44.064-24.224-70.752c0-68.384,54.368-134.784,146.88-134.784c80,0,135.968,51.968,135.968,126.304
			                            c0,84-44.448,142.112-102.208,142.112c-31.968,0-55.776-25.088-48.224-56.128c9.12-36.96,27.008-76.704,27.008-103.36
			                            c0-23.904-13.504-43.68-41.088-43.68c-32.544,0-58.944,32.224-58.944,75.488c0,27.488,9.728,46.048,9.728,46.048
			                            S144.676,371.2,138.692,395.488c-10.112,41.12,1.376,107.712,2.368,113.44c0.608,3.168,4.16,4.16,6.144,1.568
			                            c3.168-4.16,42.08-59.68,52.992-99.808c3.968-14.624,20.256-73.92,20.256-73.92c10.72,19.36,41.664,35.584,74.624,35.584
			                            c98.048,0,168.896-86.176,168.896-193.12C463.62,76.704,375.876,0,262.948,0z" />


                                </g>
                            </g>
                        </svg>
                    </a>
                    <a href="https://www.instagram.com/cannature.gr/">
                        <svg class="icon-svg icon-ig" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                             viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                            <g>

                                <g>

                                    <path d="M352,0H160C71.648,0,0,71.648,0,160v192c0,88.352,71.648,160,160,160h192c88.352,0,160-71.648,160-160V160
			                        C512,71.648,440.352,0,352,0z M464,352c0,61.76-50.24,112-112,112H160c-61.76,0-112-50.24-112-112V160C48,98.24,98.24,48,160,48
			                        h192c61.76,0,112,50.24,112,112V352z" />


                                </g>
                            </g>
                            <g>
                                <g>

                                    <path d="M256,128c-70.688,0-128,57.312-128,128s57.312,128,128,128s128-57.312,128-128S326.688,128,256,128z M256,336
			                                c-44.096,0-80-35.904-80-80c0-44.128,35.904-80,80-80s80,35.872,80,80C336,300.096,300.096,336,256,336z" />


                                </g>

                            </g>
                            <g>
                                <g>
                                    <circle cx="393.6" cy="118.4" r="17.056" />
                                </g>
                            </g>
                        </svg>
                    </a>
                </div>
                <div class="hidden-md hidden-lg"><br /><br /></div>
            </div>
            <div class="col-md-3">
                <div class="section-title">ΠΛΗΡΟΦΟΡΙΕΣ</div>
                <table class="small info-table">
                    <tr>
                        <td class="t-right">
                            <svg class="icon-svg icon-location" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                 viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                                <g>
                                    <g>
                                        <path d="M256,0C153.755,0,70.573,83.182,70.573,185.426c0,126.888,165.939,313.167,173.004,321.035
			                            c6.636,7.391,18.222,7.378,24.846,0c7.065-7.868,173.004-194.147,173.004-321.035C441.425,83.182,358.244,0,256,0z M256,278.719
			                            c-51.442,0-93.292-41.851-93.292-93.293S204.559,92.134,256,92.134s93.291,41.851,93.291,93.293S307.441,278.719,256,278.719z" />

                                    </g>

                                </g>

                            </svg>
                        </td>
                        <td>Αγίας Παρασκευής 67, Χαλάνδρι</td>
                    </tr>
                    <tr>
                        <td class="t-right">
                            <svg class="icon-svg icon-mail" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                 viewBox="0 0 395 395" style="enable-background:new 0 0 395 395;" xml:space="preserve">
                                <g>
                                    <polygon points="395,320.089 395,74.911 258.806,197.5 	" />
                                    <polygon points="197.5,252.682 158.616,217.682 22.421,340.271 372.579,340.271 236.384,217.682 	" />
                                    <polygon points="372.579,54.729 22.421,54.729 197.5,212.318 	" />
                                    <polygon points="0,74.911 0,320.089 136.194,197.5 	" />
                                </g>
                            </svg>
                        </td>
                        <td><a href="mailto:info@cannature.gr">info@cannature.gr</a></td>
                    </tr>
                    <tr>
                        <td class="t-right">
                            <svg class="icon-svg icon-phone" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                 viewBox="0 0 455 455" style="enable-background:new 0 0 455 455;" xml:space="preserve">
                                <path d="M110.748,287.48l44.169,44.169l176.732-176.732l-44.169-44.169L398.229,0c0,0,52.924,48.686,56.483,87.302
	                            c4.763,51.688-49.95,145.662-135.849,231.562c-85.899,85.898-179.873,140.611-231.56,135.849C48.687,451.152,0,398.229,0,398.229
	                            L110.748,287.48z" />
                            </svg>
                        </td>
                        <td><a href="tel:694 866 4278">694 866 4278</a></td>
                    </tr>
                    <tr>
                        <td class="t-right">
                            <svg class="icon-svg icon-fax" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 232 232" xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 232 232">
                                <g>
                                    <rect width="132" x="50" y="0.5" height="33" />
                                    <path d="m232,49.5h-232v132h33v-49h165v49h34v-132zm-17,33h-16v-16h16v16z" />
                                    <rect width="132" x="50" y="148.5" height="83" />
                                </g>
                            </svg>
                        </td>
                        <td>210 4826331</td>
                    </tr>
                    <tr>
                        <td class="t-right">
                            <svg class="icon-svg icon-time" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                 width="97.16px" height="97.16px" viewBox="0 0 97.16 97.16" style="enable-background:new 0 0 97.16 97.16;" xml:space="preserve">
                                <g>
                                    <g>
                                        <path d="M48.58,0C21.793,0,0,21.793,0,48.58s21.793,48.58,48.58,48.58s48.58-21.793,48.58-48.58S75.367,0,48.58,0z M48.58,86.823
			                            c-21.087,0-38.244-17.155-38.244-38.243S27.493,10.337,48.58,10.337S86.824,27.492,86.824,48.58S69.667,86.823,48.58,86.823z" />
                                        <path d="M73.898,47.08H52.066V20.83c0-2.209-1.791-4-4-4c-2.209,0-4,1.791-4,4v30.25c0,2.209,1.791,4,4,4h25.832
			                            c2.209,0,4-1.791,4-4S76.107,47.08,73.898,47.08z" />
                                    </g>
                                </g>
                            </svg>
                        </td>
                        <td>Καθημερινά: 9:30 - 17:00<br />Σαββατο - Κυριακή: 10:00 - 15:00</td>
                    </tr>
                </table>
                <div class="hidden-md hidden-lg"><br /><br /></div>
            </div>
            <div class="col-md-3">
                <div class="section-title">ΛΟΓΑΡΙΑΣΜΟΣ</div>
                @*@await Component.InvokeAsync("User", new {header= false})*@
                <div class="hidden-md hidden-lg"><br /><br /></div>
            </div>
            <div class="col-md-3">
                <div class="section-title">ΧΡΗΣΙΜΑ</div>
                <ul>
                    <li><a asp-action="About" asp-controller="Home">Τρόποι Παραγγελίας</a></li>
                    <li><a asp-action="About" asp-controller="Home">Τρόποι Αποστολής</a></li>
                    <li><a asp-action="About" asp-controller="Home">Τρόποι Πληρωμής</a></li>
                    <li><a asp-action="About" asp-controller="Home">Εγγύηση & Επιστροφές</a></li>
                </ul>
                <div class="hidden-md hidden-lg"><br /><br /></div>
            </div>
        </div>
    </div>
</div>

<div class="wrap" id="footer-wrap">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                &copy; 2019
            </div>
        </div>
    </div>
</div>
<a href="javascript:void(0)" data-target="top" id="scroll-top" class="scroll" title="Αρχή της σελίδας"></a>