﻿@using System.IO
<div class="wrap" id="header-wrap">

        <div class="wrap hidden-xs" id="top-wrap">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-6 t-left center-xs">
                        <a href="tel:694 866 4278">
                            @Html.Raw(File.ReadAllText("wwwroot/svg/phone.svg"))
                            694 866 4278 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                        <a href="mailto:info@cannature.gr">
                            @Html.Raw(File.ReadAllText("wwwroot/svg/mail.svg"))
                            info@cannature.gr
                        </a>
                    </div>
                    <div class="col-xs-6 t-right center-xs">
                        <a asp-action="About" asp-controller="Home">
                            @Html.Raw(File.ReadAllText("wwwroot/svg/company.svg"))
                            Εταιρία
                        </a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="mailto:info@cannature.gr">
                            @Html.Raw(File.ReadAllText("wwwroot/svg/contact.svg"))
                            Επικοινωνία
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-4 t-center t-left-sm">
                    <a href="/"><img id="logo-img" src="~/images/logo3.png" alt="Cannature" /></a>
                </div>
                <div class="col-sm-8 t-right">
                    <div id="header-icons">
                        @await Html.PartialAsync("../Shared/Sections/_Search")
                        <span class="header-sep sep-1"></span>
                        <a asp-action="Index" asp-controller="Sales">
                            @Html.Raw(File.ReadAllText("wwwroot/svg/sales.svg"))
                        </a>
                        <span class="header-sep"></span>
                        @await Component.InvokeAsync("User")
                        <span class="header-sep"></span>
                        @await Component.InvokeAsync("CartSummary")
                    </div>
                </div>
            </div>
        </div>

        <div class="wrap" id="menu-wrap">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div id="menu" class="hidden-xs hidden-sm hidden-md">
                            @*@await Component.InvokeAsync("CategoriesMenu")*@
                        </div>
                        <div id="mobile-menu" class="hidden-lg t-center">
                            <div id="icon-menu"><span></span><span></span><span></span></div>
                            <div id="mobile-menu-items">
                                @*@await Component.InvokeAsync("CategoriesMenu", new { mobile = true })*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>