﻿@using Microsoft.Extensions.Configuration
<script src="~/lib/jquery/jquery.min.js"></script>
<script src="~/lib/bootstrap/bootstrap.min.js"></script>
<script src="~/lib/bootstrap/bootstrap-slider.min.js"></script>
<script src="~/js/template.min.js"></script>
<script src="~/lib/jquery/jquery.validate.min.js"></script>
<script src="~/lib/jquery/jquery.validation.unobtrusive.min.js"></script>
<script src="~/lib/jquery/jquery.validate.messages.el.min.js"></script>
<script src="~/js/sudo_slider.min.js"></script>
<script src="~/lib/signalr/signalr.min.js"></script>
<script src="~/lib/toastr/toastr.min.js"></script>

<script>

    @inject IConfiguration Configuration

    var timerId;

    function refreshOrderList() {
        clearTimeout(timerId);
        timerId = setTimeout(function () {
            window.location.reload();
        }, 1000);
    }

    function establishConnection(cb) {
        let connection = new signalR.HubConnectionBuilder()
            .withUrl('@Configuration["SignalrHubUrl"]/hub/ordering/notificationhub', {
                transport: signalR.HttpTransportType.LongPolling })
            .build();

        connection.start().then(function () {
            console.log('User Registered to Ordering Signalr Hub');
            cb(connection);
        });
    }

    function registerNotificationHandlers(connection) {
        connection.on("UpdatedOrderState", (message) => {
            toastr.options.showDuration = 1000;
            toastr.options.timeOut = 3000; // How long the toast will display without user interaction
            toastr.options.extendedTimeOut = 1000; // How long the toast will display after a user hovers over it
            toastr.success('Updated to status: ' + message.status, 'Order Id: ' + message.orderId);
            if (window.location.pathname.split("/").pop() === 'Order') {
                refreshOrderList();
            }
        });
    }

    establishConnection((conn) => registerNotificationHandlers(conn));


</script>

<environment include="Development">
    <script src="~/js/javascript.js"></script>
</environment>
<environment exclude="Development">
    @* Add here links to your minimized versions *@
    <script src="~/js/javascript.min.js"></script>
</environment>