﻿@using System.IO
@using Microsoft.AspNetCore.Http.Extensions
@using WebMvc.Models
@model WebMvc.ViewModels.ProductBoxViewModel

@{
    var mainProductVersion = @Model.Versions.FirstOrDefault();
}

<div class="prd-block">

        <div class="prd-info">
            @{
                if (mainProductVersion.Discount != 0)
                {
                    <div class="prd-info-title">@Model.Product.Name</div>
                    <div class="prd-info-price">
                        @(Math.Round((mainProductVersion.InitialPrice - (mainProductVersion.Discount) * mainProductVersion.InitialPrice), 2).ToString("0.00")) &euro;
                        <span class="prd-info-discount">@Math.Round(mainProductVersion.InitialPrice, 2).ToString("0.00") &euro;</span>
                        <span class="prd-info-percent">@(mainProductVersion.Discount * 100)%</span>
                    </div>
                }
                else
                {
                    <div class="prd-info-title">@Model.Product.Name</div>
                    <div class="prd-info-price">
                        @Math.Round(mainProductVersion.InitialPrice, 2).ToString("0.00") &euro;
                    </div>
                }
            }
            <h3 hidden>@Model.Product.CategoryId</h3>
        </div>
        <a asp-action="Index" asp-controller="Product" asp-route-id="@Model.Product.ProductId" asp-route-productVersionId="@mainProductVersion.Id" class="prd-thumb-wrap">
            <span class="prd-thumb hover" style="background-image:url('@Url.Content(Model.Media.SingleOrDefault(m =>  m.PictureTypeId == Picture.IsMainPhoto)?.ThumbnailPictureUri ?? "~/images/default-product.png")');"></span>
        </a>

        @{
            if (Model.Product.BulletDescription != null)
            {
                <a asp-action="Index" asp-controller="Product" asp-route-id="@Model.Product.ProductId" asp-route-productVersionId="@mainProductVersion.Id" class="prd-block-bullets">
                    @Html.Raw(Model.Product.BulletDescription)
                </a>
            }
        }


        @{
            if (mainProductVersion.HasStock)
            {

                <a class="prd-cart" asp-action="AddToCart" asp-controller="Cart" asp-route-productId="@Model.Product.ProductId" asp-route-productVersionId="@mainProductVersion.Id" asp-route-returnUrl="@ViewContext.HttpContext.Request.GetEncodedPathAndQuery()">
                    @Html.Raw(File.ReadAllText("wwwroot/svg/cart.svg"))
                </a>

                <a class="prd-wishlist" href="#">
                    @Html.Raw(File.ReadAllText("wwwroot/svg/heart.svg"))
                </a>

            }
            else if (Model.Versions.Any(v => v.HasStock))
            {

                <a class="prd-cart" asp-action="Index" asp-controller="Product" asp-route-id="@Model.Product.ProductId" asp-route-productVersionId="@mainProductVersion.Id">
                    @Html.Raw(File.ReadAllText("wwwroot/svg/cart.svg"))
                </a>

                <a class="prd-wishlist" href="#">
                    @Html.Raw(File.ReadAllText("wwwroot/svg/heart.svg"))
                </a>
            }
            else
            {
                <a class="prd-cart" asp-action="Index" asp-controller="Product" asp-route-id="@Model.Product.ProductId" asp-route-productVersionId="@mainProductVersion.Id">
                    @Html.Raw(File.ReadAllText("wwwroot/svg/ban.svg"))
                </a>

                <a class="prd-wishlist" href="#">
                    @Html.Raw(File.ReadAllText("wwwroot/svg/heart.svg"))
                </a>
            }
        }

    </div>