﻿@using System.IO

<form href="#" class="search-form hidden-xs" method="get">
    <input id="query" name="QString" class="search-q" placeholder="Ψάχνω για ...." type="text"/>
    <button type="submit">
        @Html.Raw(File.ReadAllText("wwwroot/svg/search.svg"))
    </button>
</form>

<a href="#" class="visible-xs-inline-block">
    @Html.Raw(File.ReadAllText("wwwroot/svg/search.svg"))
</a>