﻿<link href="~/lib/bootstrap/bootstrap.min.css" rel="stylesheet">
<link href="~/lib/bootstrap/css/bootstrap-slider.min.css" rel="stylesheet">
<link href="~/lib/bootstrap/css/font-awesome.min.css" rel="stylesheet"/>
<link href="~/css/toastr.css" rel="stylesheet"/>

<environment include="Development">
    <link href="~/css/style.css" rel="stylesheet">
</environment>
<environment exclude="Development">
    @* Add here links to your minimized versions *@
    <link href="~/css/style.min.css" rel="stylesheet">
</environment>