﻿@model Cannature.ViewModels.AdminInsertEditManufacturerViewModel
@{
    ViewData["Title"] = "Προσθήκη Κατασκευαστή | Cannature";
    Layout = "~/Views/Shared/MasterPages/_AdminLayout.cshtml";
}

<form asp-action="AddManufacturer" asp-controller="Admin" asp-antiforgery="true" method="post">
    <input type="hidden" asp-for="@Model.ProductManufacturerId" />
    <div class="form-group">
        <label asp-for="@Model.Title"></label>
        <span asp-validation-for="@Model.Title" class="text-danger"></span>
        <input asp-for="@Model.Title" class="form-control" />
    </div>  
    <div>
        <button class="btn btn-primary" type="submit">Αποθήκευση</button>
        <a asp-action="Manufacturers" class="btn btn-secondary">Ακύρωση</a>
    </div>
</form>

