﻿<script src="~/lib/jquery/jquery.min.js"></script>
<script src="~/lib/bootstrap/bootstrap.min.js"></script>
<script src="~/lib/jquery/jquery.validate.min.js"></script>  
<script src="~/lib/jquery/jquery.validation.unobtrusive.min.js"></script>
<script src="~/lib/jquery/jquery.validate.messages.el.min.js"></script>

<environment include="Development">
    <script src="~/js/site.js"></script>
</environment>
<environment exclude="Development">
    @* Add here links to your minimized versions *@
    <script src="~/js/site.min.js"></script>
</environment>