﻿@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{
    ViewBag.Title = "Επιτυχής Καταχώρηση Παραγγελίας | Cannature";
}
<div class="container page-wrap">
    <div class="row">
        <div class="col-sm-12 text-center">
            <h2>Η παραγγελία σας καταχωρήθηκε με επιτυχία.</h2>
            <p>Σας ευχαριστούμε για την προτίμηση σας</p>
            <p>Αντιγράφο της παραγγελίας σας έχει αποσταλεί στην ηλεκτρονική σας διέυθυνση, από όπου μπορείτε να παρακολουθήσετε και την εξέλιξη της.</p>
        </div>
    </div>
</div>


