﻿@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

@{
    ViewData["Title"] = "Paypal";
    Layout = "MasterPages/_Layout";
}

<div class="container page-wrap">
    <div class="row">
        <div class="col-sm-12 text-center">
            <h2>Πληρωμή μέσω Paypal</h2>
            <p>Μολίς η παραγγελία σας καταχωρηθέι στο σύστημα μας, θα ανακατευθυνθείτε στο Paypal για την ολοκλήρωση της πληρωμής σας</p>
        </div>
    </div>
</div>

@section PageJavaScript
{
    <script>

        function establishConnectionToPaymentHub(cb) {
            let connection = new signalR.HubConnectionBuilder()
                .withUrl('@Configuration["SignalrHubUrl"]/hub/payment/notificationhub',
                    {
                        transport: signalR.HttpTransportType.LongPolling
                    })
                .build();

            connection.start().then(function() {
                console.log('User Registered to Payment Signalr Hub');
                cb(connection);
            });
        }

        function registerNotificationHandlersForPaymentHub(connection) {
            connection.on("PaypalRedirect",
                (message) => {
                    window.open(message.redirect, '_blank');
                }
            );
        }

        establishConnectionToPaymentHub((conn) => registerNotificationHandlersForPaymentHub(conn));

    </script>
}





