﻿@{
    ViewData["Title"] = "_AdminLayout";
}
<partial name="~/Views/Shared/Sections/_StyleSheet.cshtml" />
@RenderSection("PageStyle", false)
<link href="~/css/admin.css" rel="stylesheet" />

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" asp-href-include="lib/bootstrap/dist/css/*.min.css" />
    <title>Admin</title>
</head>
<body>
<div class="admin-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-10 t-left">
                <a target="_blank" href="/">
                    <img id="header-logo" src="~/images/logo3.png" />
                </a>
            </div>
            <div class="col-xs-2 text-right">
               <a class="btn btn-sm btn-primary log-out" asp-action="Signout" asp-controller="Account">Έξοδος</a>
            </div>
        </div>
    </div>
</div>



<table id="admin-main-table">

    <tr>

        <td id="admin-sidemenu">
            <ul>
                <li>
                    <a href="@Url.Action("Orders", "Admin")"><i class="fa fa-truck" aria-hidden="true"></i> &nbsp; Παραγγελίες</a>
                </li>
                <li>
                    <a href="@Url.Action("Products", "Admin")"><i class="fa fa-archive" aria-hidden="true"></i> &nbsp; Προϊόντα</a>
                </li>
                <li>
                    <a href="@Url.Action("Categories", "Admin")"><i class="fa fa-list" aria-hidden="true"></i> &nbsp; Κατηγορίες</a>
                </li>
                <li>
                    <a href="@Url.Action("Brands", "Admin")"><i class="fa fa-industry" aria-hidden="true"></i> &nbsp; Κατασκευαστές</a>
                </li>
                <li>
                    <a href="@Url.Action("Users", "Admin")"><i class="fa fa-user" aria-hidden="true"></i> &nbsp; Χρήστες</a>
                </li>
            </ul>
        </td>
        <td id="admin-content">
            <div class="container-fluid">
                @if (TempData["message"] != null)
                {
                    <div class="alert alert-success">@Html.Raw(TempData["message"])</div>
                }
                else if (TempData["error"] != null)
                {
                    <div class="alert alert-danger">@Html.Raw(TempData["error"])</div>
                }
                @RenderBody()
            </div>
        </td>

    </tr>
</table>


<partial name="~/Views/Shared/Sections/_AdminJavaScript.cshtml" />
@RenderSection("PageJavaScript", false)
</body>
</html>




