﻿<!DOCTYPE html>
<html lang="el">
    <head>
        <title>
            @ViewBag.Title
        </title>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="Στο cannature.gr θα βρείτε προϊόντα κανναβιδιόλης κορυφαίων εταιρίων με πιστοποιημένη ποιότητα. Γνωρίστε την ευεργετική τους δράση." />
        @await Html.PartialAsync("../Shared/Sections/_StyleSheet")
        @RenderSection("PageStyle", false)
        @await Html.PartialAsync("../Shared/Sections/_JavaScriptTop")
    </head>
    <body id="top">
        @await Html.PartialAsync("../Shared/Sections/_LandingHeader")
        @RenderBody()
        @await Html.PartialAsync("../Shared/Sections/_Footer")
        @await Html.PartialAsync("../Shared/Sections/_JavaScriptBottom")
        @RenderSection("PageJavaScript", false)
    </body>
</html>