﻿@{
    ViewBag.Title = "Μη διαπιστεύμενος χρήστης";
    Layout = "MasterPages/_AccountLayout";
}
<div class="container page-wrap titleAnimation">
    <div class="row">
        <div class="col-sm-12 text-center">
            <h1>H σελίδα δεν βρέθηκε <i class="fa fa-file"></i></h1>
            <p>Δεν είστε διαπιστευμένος χρήστης, θα πρέπει να ξανασυνδεθείτε στην εφαρμογή</p>
        </div>
        <div class="col-sm-12 t-center">
            <a class="button" asp-action="Login">Επιστροφή στo Login</a>
        </div>
    </div>
    <br />
</div>

