﻿@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@model Identity.API.Models.LoginViewModel


@{
	ViewData["Title"] = "Σύνδεση";
	Layout = "MasterPages/_AccountLayout";
}

<form class="form" id="login-form" asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
	<input type="hidden" asp-for="ReturnUrl" />
	<div class="input-block">
		<input asp-for="Email" type="text" class="input input-with-icon" id="input-username" placeholder="Email" />
		<span class="input-icon">
			<svg version="1.1" class="svg-icon" id="svg-user" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
			<path d="M256,0C114.844,0,0,114.844,0,256s114.844,256,256,256s256-114.844,256-256S397.156,0,256,0z M256,74.667
					c67.635,0,122.667,55.031,122.667,122.667S323.635,320,256,320s-122.667-55.031-122.667-122.667S188.365,74.667,256,74.667z
					 M256,469.333c-69.707,0-131.52-33.755-170.473-85.615c42.676-20.534,103.621-42.385,170.473-42.385
					c66.857,0,127.807,21.854,170.474,42.383C387.521,435.577,325.708,469.333,256,469.333z" />

			</svg>
		</span>
		<span asp-validation-for="Email" class="text-danger"></span>
	</div>

	<div class="input-block">
		<input asp-for="Password" type="password" class="input input-with-icon" id="input-password" name="password" placeholder="Κωδικός" />
		<span class="input-icon">
			<svg version="1.1" class="svg-icon" id="svg-key" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 469.333 469.333" style="enable-background:new 0 0 469.333 469.333;" xml:space="preserve">
			<path d="M248.533,192c-17.6-49.707-64.853-85.333-120.533-85.333c-70.72,0-128,57.28-128,128s57.28,128,128,128
					c55.68,0,102.933-35.627,120.533-85.333h92.8v85.333h85.333v-85.333h42.667V192H248.533z M128,277.333
					c-23.573,0-42.667-19.093-42.667-42.667S104.427,192,128,192c23.573,0,42.667,19.093,42.667,42.667S151.573,277.333,128,277.333z" />

			</svg>
		</span>
		<span asp-validation-for="Password" class="text-danger"></span>
	</div>

	<div class="input-block t-right">
		<a asp-action="ForgotPassword">Ξέχασα τον κωδικό μου</a>
	</div>

	<div class="input-block">
		<label for="remember-me"><input type="checkbox" id="remember-me" name="remember" /> Να με θυμάσαι</label>
	</div>

	<div class="input-block button-block">
		<input class="input input-with-icon button" type="submit" value="ΕΙΣΟΔΟΣ" />
		@*<a asp-action="RejectAuthentication" asp-controller="Account" asp-route-returnurl="@ViewData["ReturnUrl"]" class="button">Επιστροφή</a>*@
		<span class="input-icon">
			<svg version="1.1" class="svg-icon" id="svg-lock" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
			<path d="M437.333,192h-32v-42.667C405.333,66.99,338.344,0,256,0S106.667,66.99,106.667,149.333V192h-32
							C68.771,192,64,196.771,64,202.667v266.667C64,492.865,83.135,512,106.667,512h298.667C428.865,512,448,492.865,448,469.333
							V202.667C448,196.771,443.229,192,437.333,192z M287.938,414.823c0.333,3.01-0.635,6.031-2.656,8.292
							c-2.021,2.26-4.917,3.552-7.948,3.552h-42.667c-3.031,0-5.927-1.292-7.948-3.552c-2.021-2.26-2.99-5.281-2.656-8.292l6.729-60.51
							c-10.927-7.948-17.458-20.521-17.458-34.313c0-23.531,19.135-42.667,42.667-42.667s42.667,19.135,42.667,42.667
							c0,13.792-6.531,26.365-17.458,34.313L287.938,414.823z M341.333,192H170.667v-42.667C170.667,102.281,208.948,64,256,64
							s85.333,38.281,85.333,85.333V192z" />







				</svg>
		</span>
	</div>

	<div class="input-block">
		Δεν έχετε λογαριασμό: <a asp-action="Register" asp-route-returnUrl="@Model.ReturnUrl">Εγγραφή</a>
	</div>
</form>
