﻿@model WebMvc.ViewModels.ProductViewModel
@{
    ViewBag.Title = "Προσθήκη Προϊόντος | Cannature";
    Layout = "~/Views/Shared/MasterPages/_AdminLayout.cshtml";
}
@section PageStyle
    {
    <link href="~/chosen/chosen.css" rel="stylesheet" />
}
<form asp-action="AddProductAsync" asp-controller="Admin" asp-antiforgery="true" method="post" enctype="multipart/form-data" id="newProduct">
    <input type="hidden" asp-for="@Model.Id" />
    <div class="form-group">
        <label asp-for="@Model.Name"></label>
        <span asp-validation-for="@Model.Name" class="text-danger"></span>
        <input asp-for="@Model.Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.CategoryId"></label>
        <span asp-validation-for="@Model.CategoryId"></span>
        <select asp-for="@Model.CategoryId" asp-items="@(new SelectList(@Model.Categories, "Id", "Title"))" class="form-control">
            <option disabled selected>Επιλέξτε κατηγορία προϊοντος</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="@Model.BrandId"></label>
        <span asp-validation-for="@Model.BrandId"></span>
        <select asp-for="@Model.BrandId" asp-items="@(new SelectList(@Model.Brands, "Id", "Title"))" class="form-control">
            <option disabled selected>Επιλέξτε κατασκεύαστη προϊοντος</option>
        </select>
    </div>
    <div class="form-group">
        <input asp-for="@Model.IsBest" type="checkbox" />
        <label asp-for="@Model.IsBest"></label>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Description"></label>
        <span asp-validation-for="@Model.Description" class="text-danger"></span>
        <textarea asp-for="@Model.Description" class="form-control"></textarea>
    </div>
    <div>
        <button class="btn btn-primary" type="submit" id="submitButton">Αποθήκευση</button>
        <a asp-action="Products" class="btn btn-secondary">Ακύρωση</a>
    </div>
</form>

@section PageJavaScript
    {
    <script src="~/chosen/chosen.jquery.min.js"></script>

    <script>
        $(function () {
            $("#relativeProducts").chosen();
        });
    </script>
}