﻿@model WebMvc.ViewModels.BrandsViewModel
@{
    ViewBag.Title = "Κατασκευαστές | Cannature";
    Layout = "~/Views/Shared/MasterPages/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-sm-12"><hr /></div>
    <div class="col-sm-6">
        <h1>Κατασκευάστες</h1>
    </div>
    <div class="col-sm-6 text-right">
        <a class="btn btn-sm btn-primary"
           asp-action="AddBrand" asp-controller="Admin">Προσθήκη Κατασκεύαστη</a>
    </div>
    <div class="col-sm-12"><hr /></div>

    <div class="col-sm-12">

        <form asp-action="Brands" method="get">
            <div>
                <p>
                    Εύρεση με λέξι κλειδί: <input class="filter-table" name="SearchString" value="@ViewData["currentFilter"]" />
                    <input type="submit" value="Αναζήτηση" class="btn btn-primary" />
                    <a asp-action="Brands">Επιστροφή στην αρχική λίστα</a>
                </p>
            </div>
        </form>

        <table class="info-table">
            <tr>
                <th>
                    <a asp-action="Brands" asp-route-page="@Model.PageIndex" asp-route-sortOrder="@ViewData["NameSortParam"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">
                        Όνομα Κατασκευάστη
                        @{
                            if (@ViewData["CurrentSort"].Equals("Title"))
                            {
                                <i class="fa fa-sort-asc"></i>
                            }
                            else if (@ViewData["CurrentSort"].Equals("Title_desc"))
                            {
                                <i class="fa fa-sort-desc"></i>
                            }
                        }
                    </a>
                </th>   
                <th>Ποσόστο Έκπτωσης Προϊόντων</th>
                <th class="text-right">Ενέργειες</th>
            </tr>
            @{
                foreach (var brand in Model.Data)
                {
            <tr>
                <td class="info-table-title">@brand.Title</td>
                <td>@brand.Discount.ToString("P")</td>
                <td class="no-wrap text-right">
                    <a asp-action="EditBrand" asp-route-Id="@brand.Id"><i class="fa fa-pencil-square-o admin-icon" aria-hidden="true"></i></a>
                    <a asp-action="DeleteBrandAsync" asp-route-Id="@brand.Id" onclick="return confirm('Ειστε σίγουροι ότι θέλετε να διαγράψετε τoν συγκεκριμένo κατασκεύαστη;')">
                        <i class="fa fa-trash-o admin-icon" aria-hidden="true"></i>
                    </a>
                </td>

            </tr>
                }
            }

        </table>

        <nav class="text-center" id="pageIndex">
            <ul class="pagination wiwet-pagination">

                @{
                    for (int i = 1; i <= Model.TotalPages; i++)
                    {
                        <li><a id="@i" asp-action="Brands" asp-route-page="@i" asp-route-sortOrder="@ViewData["CurrentSort"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">@i</a></li>
                    }
                }
            </ul>
        </nav>
    </div>
</div>

