﻿
@using Microsoft.AspNetCore.Http.Extensions
@model WebMvc.ViewModels.CategoriesViewModel
@{

    ViewBag.Title = "Κατηγορίες | Cannature";
    Layout = "~/Views/Shared/MasterPages/_AdminLayout.cshtml";
}



<div class="row">
    <div class="col-sm-12"><hr /></div>
    <div class="col-sm-6">
        <h1>Κατηγορίες</h1>
    </div>
    <div class="col-sm-6 text-right">
        <a class="btn btn-sm btn-primary"
           asp-action="AddCategory" asp-controller="Admin">Προσθήκη Κατηγορίας</a>
    </div>
    <div class="col-sm-12"><hr /></div>

    <div class="col-sm-12">

        <form asp-action="Categories" method="get">
            <div>
                <input class="filter-table" name="searchString" placeholder="Εύρεση με λέξη κλειδί" value="@ViewData["currentFilter"]" />
                <select asp-for="@ViewData["currentParentFilter"]" class="filter-table" name="parentFilter">
                    <option disabled selected>Επιλέξτε κεντρική κατηγορία</option>
                </select>
                <input type="submit" value="Αναζήτηση" class="btn btn-primary" />
                <a asp-action="Categories">Καθαρισμός φιλτρών</a>
            </div>
        </form>

        <table class="info-table">
            <tr>
                <th>
                    <a asp-action="Categories" asp-route-page="@Model.PageIndex" asp-route-sortOrder="@ViewData["NameSortParam"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">
                        Όνομα Κατηγορίας
                        @{
                            if (@ViewData["CurrentSort"].Equals("Title"))
                            {
                                <i class="fa fa-sort-asc"></i>
                            }
                            else if (@ViewData["CurrentSort"].Equals("Title_desc"))
                            {
                                <i class="fa fa-sort-desc"></i>
                            }
                        }
                    </a>
                </th>
                <th>Κεντρική Κατηγορία</th>
                <th>Υποκατηγορίες</th>
                <th>Αριθμός Προϊόντων</th>
                <th>Κατηγορία Αρχικής Σελίδας</th>
                <th class="text-right">Ενέργειες</th>
            </tr>
            @{
                foreach (var category in Model.Data)
                {
                        <tr>
                            @{
                                if (@category.Children.Any())
                                {
                                    <td class="info-table-title">@category.Title</td>
                                    <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                    <td>@String.Join(", ", @category.Children.Select(c => c.Title))</td>
                                }
                                else
                                {
                                    <td class="info-table-title">@category.Title</td>
                                    <td><i class="fa fa-times" aria-hidden="true"></i></td>
                                    <td></td>
                                }
                            }

                            @*<td>@Model.Products.Count(p => p.CategoryId == category.CategoryId)</td>*@
                            <td>0</td>
                            @{
                                if (@category.IsFrontPageCategory)
                                {
                                    <td><i class="fa fa-check" aria-hidden="true"></i></td>
                                }
                                else
                                {
                                    <td><i class="fa fa-times" aria-hidden="true"></i></td>
                                }
                            }
                            <td class="no-wrap text-right">
                                <a asp-action="EditCategory" asp-route-id="@category.Id"><i class="fa fa-pencil-square-o admin-icon" aria-hidden="true"></i></a>
                                <a asp-action="DeleteCategory" asp-route-id="@category.Id" onclick="return confirm('Ειστε σίγουροι ότι θέλετε να διαγράψετε την συγκεκριμένη κατηγορία;')">
                                    <i class="fa fa-trash-o admin-icon" aria-hidden="true"></i>
                                </a>
                            </td>

                        </tr>
                }
            }

        </table>

        <nav class="text-center" id="pageIndex">
            <ul class="pagination wiwet-pagination">

                @{
                    for (int i = 1; i <= Model.TotalPages; i++)
                    {
                        <li><a id="@i" asp-action="Categories" asp-route-page="@i" asp-route-sortOrder="@ViewData["CurrentSort"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">@i</a></li>
                    }
                }
            </ul>
        </nav>
    </div>
</div>

