﻿@model WebMvc.ViewModels.CategoryViewModel
@{
    ViewBag.Title = "Επεξεργασία Κατηγορίας | Cannature"; ;
    Layout = "~/Views/Shared/MasterPages/_AdminLayout.cshtml";
}
@section PageStyle
{
    <link href="~/chosen/chosen.css" rel="stylesheet" />
}

<form asp-action="UpdateCategoryAsync" asp-controller="Admin" asp-antiforgery="true" method="post">
    <input type="hidden" asp-for="@Model.Id" />
    <div class="form-group">
        <label asp-for="@Model.Title"></label>
        <span asp-validation-for="@Model.Title" class="text-danger"></span>
        <input asp-for="@Model.Title" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.Description"></label>
        <span asp-validation-for="@Model.Description" class="text-danger"></span>
        <textarea asp-for="@Model.Description" class="form-control"></textarea>
    </div>
    <div class="form-group">
        <label asp-for="@Model.ChildrenIds"></label>
        <select asp-for="@Model.ChildrenIds" asp-items="@(new MultiSelectList(@ViewBag.AvailableChildren, "Id", "Title"))" class="form-control" id="childrenCategories" multiple="multiple"></select>
    </div>
    @{
        var ischecked = "checked=\"checked\"";

        if (@Model.IsFrontPageCategory)
        {
            ischecked = "checked=\"checked\"";
        }
        else
        {
            ischecked = "";
        }

        <div class="form-group">
            <input id="IsFrontPageCategory" name="IsFrontPageCategory" data-val="true" value="true" type="checkbox" @ischecked />
            <label asp-for="@Model.IsFrontPageCategory"></label>
        </div>
    }
    <div>
        <button class="btn btn-primary" type="submit">Αποθήκευση</button>
        <a asp-action="Categories" class="btn btn-secondary">Ακύρωση</a>
    </div>
</form>
@section PageJavaScript
{
    <script src="~/chosen/chosen.jquery.min.js"></script>

    <script>
        $(function () {
            $("#childrenCategories").chosen();
        });
    </script>
}
