﻿@model WebMvc.ViewModels.BrandViewModel
@{
    ViewData["Title"] = "Επεξεργασία Κατασκευαστή | Cannature"; ;
    Layout = "~/Views/Shared/MasterPages/_AdminLayout.cshtml";
}

<form asp-action="UpdateBrandAsync" asp-controller="Admin" asp-antiforgery="true" method="post">
    <input type="hidden" asp-for="@Model.Id" />
    <div class="form-group">
        <label asp-for="@Model.Title"></label>
        <span asp-validation-for="@Model.Title" class="text-danger"></span>
        <input asp-for="@Model.Title" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.Discount"></label>
        <select asp-for="@Model.Discount" 
                asp-items="@(new SelectList(new List<SelectListItem>
                             {
                                 new SelectListItem { Text = "5%", Value = "0.05"},
                                 new SelectListItem { Text = "10%", Value = "0.1"},
                                 new SelectListItem { Text = "15%", Value = "0.15"},
                                 new SelectListItem { Text = "20%", Value = "0.2"},
                                 new SelectListItem { Text = "25%", Value = "0.25"},
                                 new SelectListItem { Text = "30%", Value = "0.3"},
                                 new SelectListItem { Text = "35%", Value = "0.35"},
                                 new SelectListItem { Text = "40%", Value = "0.4"},
                                 new SelectListItem { Text = "45%", Value = "0.45"},
                                 new SelectListItem { Text = "50%", Value = "0.5"}                  
                             }, "Value", "Text"))" class="form-control">
            <option value="0" selected>Χωρίς έκπτωση</option>
        </select>
    </div>
    <div>
        <button class="btn btn-primary" type="submit">Αποθήκευση</button>
        <a asp-action="Brands" class="btn btn-secondary">Ακύρωση</a>
    </div>
</form>

