﻿@model WebMvc.ViewModels.LoginModel
@{
    ViewBag.Title = "Σύνδεση Διαχειριστή | Cannature";
    Layout = "MasterPages/_LoginLayout";
}

<div class="text-danger" asp-validation-summary="All"></div>
<div class="checkout">
    <form asp-action="Login" asp-controller="Admin" asp-antiforgery="true" method="post">
        <input type="hidden" asp-for="ReturnUrl" />
        <div class="form-group">
            <label asp-for="Name"></label>
            <div><span asp-validation-for="Name" class="text-danger"></span></div>
            <input asp-for="Name" class="form-control admin-input" />
        </div>
        <div class="form-group">
            <label asp-for="Password"></label>
            <div><span asp-validation-for="Password" class="text-danger"></span></div>
            <input asp-for="Password" class="form-control admin-input" />
        </div>
        <div class="row">
            <div class="col-xs-6 t-left">
                @*<a asp-action="Index" asp-controller="Home" class="button">Επιστροφή</a>*@
            </div>
            <div class="col-xs-6 t-right">
                <button class="button" type="submit">Είσοδος</button>
            </div>
        </div>
    </form>
</div>