﻿@model WebMvc.ViewModels.OrdersViewModel
@using System.Linq
@using System.Security.Policy
@using Microsoft.AspNetCore.Http.Extensions
@using Microsoft.AspNetCore.Routing
@using Microsoft.CodeAnalysis.CSharp.Syntax
@{
    ViewBag.Title = "Παραγγελίες | Cannature";
    Layout = "~/Views/Shared/MasterPages/_AdminLayout.cshtml";
}



<div class="row">
    <div class="col-sm-12"><hr /></div>
    <div class="col-sm-6">
        <h1>Παραγγελίες</h1>
    </div>
    <div class="col-sm-12"><hr /></div>
    <div class="col-sm-12">

        <form asp-action="Orders" method="get">
            <div>
                <p>
                    Εύρεση με λέξι κλειδί: <input class="filter-table" name="SearchString" value="@ViewData["currentFilter"]" />
                    <input type="submit" value="Αναζήτηση" class="btn btn-primary" />
                    <a asp-action="Orders">Επιστροφή στην αρχική λίστα</a>
                </p>
            </div>
        </form>

        <table class="info-table">
            <tr>
                <th>
                    <a href="#">
                        Αναγνωριστικό
                        @{
                            if (@ViewData["CurrentSort"].Equals("OrderId"))
                            {
                                <i class="fa fa-sort-asc"></i>
                            }
                            else if (@ViewData["CurrentSort"].Equals("OrderId_desc"))
                            {
                                <i class="fa fa-sort-desc"></i>
                            }
                        }
                    </a>
                </th>
                <th>Ημερομηνία Καταχώρησης</th>
                <th>
                    <a href="#">
                        Κατάσταση
                        @{
                            if (@ViewData["CurrentSort"].Equals("OrderState"))
                            {
                                <i class="fa fa-sort-asc"></i>
                            }
                            else if (@ViewData["CurrentSort"].Equals("OrderState_desc"))
                            {
                                <i class="fa fa-sort-desc"></i>
                            }
                        }
                    </a>
                </th>
                <th>Επώνυμο Πελάτη</th>
                <th>Όνομα Πελάτη</th>
                <th>Τηλέφωνο</th>
                <th>Email</th>
                <th>Τρόπος Πληρωμής</th>
                <th>Αναγνωριστικό Πληρωμής</th>
                @*<th>Προϊόντα</th>
                    <th>Σύνολο</th>*@
                <th class="text-center">Ενέργειες</th>
            </tr>
        </table>

        <nav class="text-center" id="pageIndex">
            <ul class="pagination wiwet-pagination">

                        <li><a id="1" href="#">1</a></li>
           
            </ul>
        </nav>
    </div>
</div>

