﻿@using System.Collections.Specialized
@model WebMvc.ViewModels.ProductPhotosViewModel
@{
    ViewBag.Title = "Φωτογραφίες Προϊόντος | Cannature";
    Layout = "~/Views/Shared/MasterPages/_AdminLayout.cshtml";
}

<div class="row">
    <div>
        <form asp-action="SaveProductPhotos" asp-controller="Admin" asp-antiforgery="true" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="@Model.Id" />
            <table class="info-table" id="photosTable">
                <tr>
                    <th>Φωτογραφία</th>
                    <th>Kεντρική Φωτογραφία</th>
                    <th>Φωτογραφία Gallery </th>
                    <th>Φωτογραφία Περιγραφής</th>
                    <th>Ενέργεια</th>
                </tr>
                @{

                    for (int i = 0; i < Model.ProductPicturesList.Count; i++)
                    {
                        <tr>
                            <td class="col-sm-4">
                                <img src="@Url.Content(Model.ProductPicturesList[i].ThumbnailPictureUri)" width="100" />
                                <input type="hidden" asp-for="ProductPicturesList[i].Id" />
                            </td>
                            <td class="col-sm-4">
                                @Html.RadioButtonFor(m => m.ProductPicturesList[i].PictureTypeId, 1, new { @type = "radio", @name = "photo-type" })
                            </td>
                            <td class="col-sm-4">
                                @Html.RadioButtonFor(m => m.ProductPicturesList[i].PictureTypeId, 2, new { @type = "radio", @name = "photo-type" })
                            </td>
                            <td class="col-sm-4">
                                @Html.RadioButtonFor(m => m.ProductPicturesList[i].PictureTypeId, 3, new { @type = "radio", @name = "photo-type" })
                            </td>
                            <td class="col-sm-2">
                                <a class="delete-link"> <i class="fa fa-trash-o admin-icon" aria-hidden="true"></i></a>
                            </td>
                        </tr>

                    }
                }
            </table>
            <div class="form-group">
                <button class="btn btn-primary pull-right" id="btnAddPhotos"><i class="fa fa-plus" aria-hidden="true"></i> Προσθήκη Φωτογραφιών</button>
            </div>
            <div class="text-center">
                <button class="btn btn-primary" type="submit">Αποθήκευση</button>
                <a asp-action="Products" class="btn btn-secondary">Ακύρωση</a>
            </div>
        </form>
    </div>
</div>

@section PageJavaScript
{
    <environment include="Development">
        <script src="~/js/product_photos.js"></script>
    </environment>
    <environment exclude="Development">
        @* Add here links to your minimized versions *@
        <script src="~/js/product_photos.min.js"></script>
    </environment>

}

