﻿@model WebMvc.ViewModels.ProductsViewModel
@using System.Linq
@using System.Security.Policy
@using Microsoft.AspNetCore.Http.Extensions
@using Microsoft.AspNetCore.Routing
@{
    ViewBag.Title = "Προϊόντα | Cannature";
    Layout = "~/Views/Shared/MasterPages/_AdminLayout.cshtml";
}


<div class="row">
    <div class="col-sm-12"><hr /></div>
    <div class="col-sm-6">
        <h1>Προϊόντα</h1>
    </div>
    <div class="col-sm-6 text-right">
        <a class="btn btn-sm btn-primary"
           asp-action="AddProduct" asp-controller="Admin">Προσθήκη Προϊοντος</a>
    </div>
    <div class="col-sm-12"><hr /></div>

    <div class="col-sm-12">
        <form asp-action="Products" method="get">
            <div>
                <input class="filter-table" name="searchString" placeholder="Εύρεση με λέξη κλειδί" value="@ViewData["currentFilter"]" />
                <select class="filter-table" name="categoryFilter">
                    <option disabled selected>Επιλέξτε κατηγορία προϊοντος</option>
                </select>

                <select class="filter-table" name="manufacturerFilter">
                    <option disabled selected>Επιλέξτε κατασκεύαστη προϊοντος</option>
                </select>
                <input type="submit" value="Αναζήτηση" class="btn btn-primary" />
                <a asp-action="Products">Καθαρισμός φιλτρών</a>
            </div>
        </form>
    </div>


    <div class="col-sm-12">
        <table class="info-table">
            <tr>
                <th>
                    <a asp-action="Products" asp-route-page="@Model.PageIndex" asp-route-sortOrder="@ViewData["NameSortParam"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">
                        Όνομα Προϊόντος
                        @{
                            if (@ViewData["CurrentSort"].Equals("Name"))
                            {
                                <i class="fa fa-sort-asc"></i>
                            }
                            else if (@ViewData["CurrentSort"].Equals("Name_desc"))
                            {
                                <i class="fa fa-sort-desc"></i>
                            }
                        }
                    </a>
                </th>
                <th>Υπο Δοκιμή</th>
                <th>Όνομα Κατηγορίας</th>
                <th>Όνομα Κατασκεύαστη</th>
                <th>Κορυφαίο Προϊον</th>
                <th>Εκδόσεις σε stock</th>
                <th>Ενέργειες</th>
            </tr>
            @{
                foreach (var product in Model.Data)
                {
                        <tr>
                            <td class="info-table-title">@product.Name</td>
                            @{
                                if (product.IsDraft)
                                {
                                    <td class="text-center"><i class="fa fa-check" aria-hidden="true"></i></td>
                                }
                                else
                                {
                                    <td class="text-center"><i class="fa fa-times" aria-hidden="true"></i></td>
                                }
                            }
                            <td>@product.CategoryTitle</td>
                            <td>@product.BrandTitle</td>
                            @{
                                if (product.IsBestProduct)
                                {
                                    <td class="text-center"><i class="fa fa-check" aria-hidden="true"></i></td>
                                }
                                else
                                {
                                    <td class="text-center"><i class="fa fa-times" aria-hidden="true"></i></td>
                                }
                            }
                                <td class="text-center">@product.VersionsOnStock</td>
                               
                            <td class="no-wrap">
                                <a asp-action="EditProduct" asp-route-id="@product.Id" asp-route-returnUrl="@ViewContext.HttpContext.Request.GetEncodedPathAndQuery()">
                                    <i class="fa fa-pencil-square-o admin-icon" aria-hidden="true"></i>
                                </a>
                                <a asp-action="ProductPhotos" asp-route-id="@product.Id" asp-route-returnUrl="@ViewContext.HttpContext.Request.GetEncodedPathAndQuery()">
                                    <i class="fa fa-file-image-o admin-icon" aria-hidden="true"></i>
                                </a>
                                <a asp-action="ProductVersions" asp-route-id="@product.Id" asp-route-returnUrl="@ViewContext.HttpContext.Request.GetEncodedPathAndQuery()">
                                    <i class="fa fa-code-fork admin-icon" aria-hidden="true"></i>
                                </a>
                                <a asp-action="DeleteProduct" asp-route-id="@product.Id" onclick="return confirm('Ειστε σίγουροι οτι θέλετε να διαγράψετε τo συγκεκριμένo προϊόν;')">
                                    <i class="fa fa-trash-o admin-icon" aria-hidden="true"></i>
                                </a>
                            </td>
                        </tr>
                }
            }

        </table>

        <nav class="text-center" id="pageIndex">
            <ul class="pagination wiwet-pagination">

                @{
                    for (int i = 1; i <= Model.TotalPages; i++)
                    {
                        <li><a id="@i" asp-action="Products" asp-route-page="@i" asp-route-sortOrder="@ViewData["CurrentSort"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">@i</a></li>
                    }
                }
            </ul>
        </nav>
    </div>


</div>


