﻿@model WebMvc.ViewModels.ProductVersionsViewModel

@{
    ViewBag.Title = "Εκδόσεις Προϊόντος | Cannature";
    Layout = "~/Views/Shared/MasterPages/_AdminLayout.cshtml";

}

<div class="row">
    <div>
        <form asp-action="SaveProductVersions" asp-controller="Admin" asp-antiforgery="true" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="@Model.Id" />
            <table class="info-table" id="productsTable">
                <tr>
                    <th>Model Product Number</th>
                    <th>Μέγεθος</th>
                    <th>Χρώμα </th>
                    <th>Βάρος</th>
                    <th>Έκπτώση</th>
                    <th>Αρχική Τιμή</th>
                    <th>Διαθέσιμο Stock</th>
                    <th>Restock</th>
                    <th>Μεγιστό Stock</th>
                    <th>Ενέργεια</th>
                </tr>
                @{
                    for (int i = 0; i < Model.ProductVersionsList.Count; i++)
                    {
                        <tr>
                            <input type="hidden" asp-for="ProductVersionsList[i].Id" />
                            <td class="col-md-1">
                                <input asp-for="ProductVersionsList[i].Mpn" />
                            </td>
                            <td class="col-md-1">
                                <input asp-for="ProductVersionsList[i].Size" />
                            </td>
                            <td class="col-md-1">
                                <input asp-for="ProductVersionsList[i].Color" />
                            </td>
                            <td class="col-md-1">
                                <input asp-for="ProductVersionsList[i].Weight" />
                            </td>
                            <td class="col-md-1">
                                <input asp-for="ProductVersionsList[i].Discount" />
                            </td>
                            <td class="col-md-1">
                                <input asp-for="ProductVersionsList[i].InitialPrice" />
                            </td>
                            <td class="col-md-1 text-center">
                                <input asp-for="ProductVersionsList[i].AvailableStock" />
                            </td>
                            <td class="col-md-1 text-center">
                                <input asp-for="ProductVersionsList[i].RestockThreshold" />
                            </td>
                            <td class="col-md-1 text-center">
                                <input asp-for="ProductVersionsList[i].MaxStockThreshold" />
                            </td>
                            <td class="col-md-1">
                                <a class="delete-link"> <i class="fa fa-trash-o admin-icon" aria-hidden="true"></i></a>
                            </td>
                        </tr>
                    }
                }
            </table>
            <div class="form-group">
                <button class="btn btn-primary pull-right" id="btnAddProduct"><i class="fa fa-plus" aria-hidden="true"></i>Προσθήκη Έκδοσης</button>
            </div>
            <div class="text-center">
                <button class="btn btn-primary" type="submit">Αποθήκευση</button>
                <a asp-action="Products" class="btn btn-secondary">Ακύρωση</a>
            </div>
        </form>
    </div>
</div>

@section PageJavaScript
{
    <environment include="Development">
        <script src="~/js/dynamic_list.js"></script>
    </environment>
    <environment exclude="Development">
        @* Add here links to your minimized versions *@
        <script src="~/js/dynamic_list.min.js"></script>
    </environment>
}


