﻿@{
    ViewBag.Title = "Σχετικά | Cannature"; ;
    ViewBag.PageTitle = "ABOUT SOUL";
}
<div class="page-wrap">
    <div class="container">
        <div class="content-border fadeUpEffect">
            <h1>H εταιρία μας</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididu nt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehe nderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque.
            </p>
        </div>
        <div class="row fadeUpEffect1 flex-sm">
            <div class="col-sm-6 flex-box">
                <div class="about-column">
                    <div>
                        <img src="~/images/transportation.png" />
                    </div>
                    <div class="padding-box">
                        <h1>Μεταφορικά</h1>
                        @*<ul class="text-left">
                        <li>
                            Οι παραδόσεις των προϊόντων γίνονται σε όλη την Ελλάδα μέσω της εταιρείας Γενικής Ταχυδρομικής
                            1-3 εργάσιμων ημερών, εκτός από δυσπρόσιτες περιοχες ηπειρωτικής και νησιωτικής
                            Ελλάδας όπου μπορεί να χρειαστούν 3-5 εργάσιμες ημέρες.
                        </li>
                        <li> Οι παραγγελίες που θα πραγματοποιούνται μέχρι τις 16:00 θα αποστέλλονται την ίδια ημέρα.</li>
                        <li>
                            Οι χρεώσεις έχουν ως εξής:
                            Για τις παραδόσεις στην Ελλάδα οι χρεώσεις έχουν:
                            Για αγορές άνω των 30 € τα μεταφορικά είναι δωρεάν (εξαιρούνται μεγάλα δέματα).
                            Για αγορές κάτω των 30 € η επιβάρυνση για τα μεταφορικά μαζί με την αντικαταβολή είναι 3€
                        </li>
                        <li>
                            Στις παραγγελίες εκτός Ελλάδας τα προϊόντα θα αποστέλλονται μέσω ΕΛΤΑ .
                            Για αποστολές στο εξωτερικό το κόστος προκύπτει βάση του όγκου και πρεπει θα πρεπει να γίνεται κατόπιν συνεννόησης μέσω email.
                        </li>
                    </ul>*@
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididu nt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehe nderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque.
                    </div>
                </div>
            </div>

            <div class="col-sm-6 flex-box">
                <div class="about-column">
                    <div>
                        <img src="~/images/payment.png" />
                    </div>
                    <div class="padding-box">
                        <h1>Τρόποι Πληρωμής</h1>
                        @*<ol class="text-left">
                            <li>
                                <b>Αντικαταβολή-Πληρωμή στο χώρο σας:</b>
                                <br />
                                Παραγγελίες με αντικαταβολή η χρέωση είναι
                                Με παραγγελίες άνω των 30ευρώ δωρεάν
                                Με παραγγελίες κάτω των 30ευρώ χρέωση 3ευρώ
                            </li>
                            <li>
                                <b>Πληρωμή με χρεωστική-πιστωτική κάρτα</b>
                                <br/>
                                Ισχύουν ίδιες χρεώσεις όπως της αντικαβολής .
                                Στις άτοκες δόσεις έχετε την δυνατότητα έως 5 άτοκες δόσεις .
                            </li>
                            <li>
                                <b>Πληρωμή μεσω Paypal</b>
                                <br />
                                Ισχύουν ίδιες χρεώσεις όπως της αντικαβολής.
                            </li>
                            <li>
                                <b>Kατάθεση σε τραπεζικό λογαριασμό</b>
                                <br/>
                                Προεξοφλήστε την παραγγελία σας στους παρακάτω λογαριασμούς :

                                Έπειτα μασ στέλνετε το αντίγραφο πληρωμής με email στο info@lucky-fishing.gr
                            </li>
                            <li>
                                <b>Παραλαβή απο το κατάστημα</b>
                                <br />
                                Καμία χρέωση
                            </li>
                        </ol>*@
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididu nt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehe nderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque.
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="content-border fadeUpEffect">
                    <h1>Όροι Χρήσης</h1>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididu nt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehe nderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque.
                    @*<div class="scroll-box">
                        <p>Το lucky-fishing.gr είναι το ηλεκτρονικό κατάστημα έκθεσης και διάθεσης προϊόντων μέσω του Διαδικτύου της εταιρείας "Lucky Fishing (Αφοί Σχοινά Ο.Ε.)", που εδρεύει στη Πάτρα, στην Ελλάδα. Πριν εισέλθετε στο ηλεκτρονικό κατάστημα και περιηγηθείτε στην ιστοσελίδα μας, σας καλούμε να συμβουλευτείτε τους κάτωθι όρους και προϋποθέσεις. Βεβαιωθείτε ότι συμφωνείτε με τους κάτωθι όρους και προϋποθέσεις διότι η περαιτέρω χρήση και η περιήγησή σας στην ιστοσελίδα www.lucky-fishing.gr συνεπάγεται την ρητή και ανεπιφύλακτη συγκατάθεση και συναίνεσή σας με αυτούς.
                        </p><p><strong>1. Όροι της σύμβασης</strong>
                        </p><p>H Lucky Fishing (Αφοί Σχοινά Ο.Ε.) διατηρεί το δικαίωμα να τροποποιεί μονομερώς ή να ανανεώνει τους παρόντες όρους και τις προϋποθέσεις των συναλλαγών, που γίνονται μέσω του ηλεκτρονικού της καταστήματος, σύμφωνα με τις ανάγκες της και τα συναλλακτικά ήθη. Η Lucky Fishing (Αφοί Σχοινά Ο.Ε.) αναλαμβάνει την υποχρέωση να ενημερώνει τους χρήστες για τυχόν τροποποιήσεις καθώς και για οποιαδήποτε αλλαγή, μέσα από την ιστοσελίδα του παρόντος ηλεκτρονικού καταστήματος.
                        </p><p><strong>2. Παρεχόμενες πληροφορίες & Προϊόντα </strong>
                        </p><p>H Lucky Fishing (Αφοί Σχοινά Ο.Ε.) δεσμεύεται ως προς την ποιότητα, την πληρότητα και την εγκυρότητα των πληροφοριών που παρατίθενται στην ιστοσελίδα της www.lucky-fishing.gr, τόσο όσον αφορά στα ακριβή στοιχεία που εκτίθενται όσο και στις παρεχόμενες, από το ηλεκτρονικό κατάστημα της, υπηρεσίες, υπό την επιφύλαξη τυχόν τεχνικών ή τυπογραφικών λαθών, που δεν μπορούν να προβλεφθούν ή έχουν προκύψει ακούσια ή διακοπών λειτουργίας της ιστοσελίδας εκ λόγων ανωτέρας βίας.
                        </p><p><strong>3. Περιορισμός ευθύνης</strong>
                        </p><p>Η Lucky Fishing (Αφοί Σχοινά Ο.Ε.) δεν ευθύνεται έναντι των πελατών / χρηστών για ζημιές που τυχόν προκύψουν από την εκτέλεση ή μη της παραγγελίας τους (εκτός των περιπτώσεων της παραγράφου "Επιστροφή προϊόντος"). Επίσης επιφυλάσσεται ως προς το χρόνο παράδοσης των εμπορευμάτων στις περιπτώσεις ανωτέρας βίας. Το ηλεκτρονικό κατάστημα www.lucky-fishing.gr ουδεμία εγγύηση μπορεί να παράσχει για τη διαθεσιμότητα των προϊόντων, αλλά εγγυάται την έγκαιρη ενημέρωση των τελικών καταναλωτών περί της μη διαθεσιμότητας τους. Το ηλεκτρονικό κατάστημα www.lucky-fishing.gr παρέχει το περιεχόμενο (πχ πληροφορίες, ονόματα, φωτογραφίες, απεικονίσεις), τα προϊόντα και τις υπηρεσίες που διατίθενται μέσω του δικτυακού τόπου "όπως ακριβώς έχουν". Σε καμία περίπτωση το ηλεκτρονικό κατάστημα της Lucky Fishing (Αφοί Σχοινά Ο.Ε.) δεν φέρει ευθύνη για τυχόν απαιτήσεις νομικής ή αστικής ή/και ποινικής φύσεως ούτε για τυχόν ζημία (θετική, ειδική ή αποθετική, η οποία ενδεικτικά και όχι περιοριστικά, διαζευκτικά ή/και σωρευτικά συνίσταται σε απώλεια κερδών, δεδομένων, διαφυγόντα κέρδη, χρηματική ικανοποίηση κλπ.) από επισκέπτες του δικτυακού τόπου ή τρίτους από αιτία που έχει σχέση με τη λειτουργία ή μη ή/και τη χρήση του δικτυακού τόπου ή/και σε αδυναμία παροχής υπηρεσιών ή/και πληροφοριών που διατίθενται από αυτόν ή/και από τυχόν μη επιτρεπόμενες παρεμβάσεις τρίτων σε προϊόντα ή/και υπηρεσίες ή/και πληροφορίες που διατίθενται μέσω αυτού.
                        </p><p><strong>4. Δικαιώματα πνευματικής ιδιοκτησίας</strong>
                        </p><p>Αυτή η ιστοσελίδα είναι το επίσημο ηλεκτρονικό κατάστημα της Lucky Fishing (Αφοί Σχοινά Ο.Ε.). Όλο το περιεχόμενο της ιστοσελίδας, συμπεριλαμβανομένων εικόνων, γραφικών, φωτογραφιών, σχεδίων, κειμένων, παρεχόμενων υπηρεσιών και προϊόντων αποτελούν πνευματική ιδιοκτησία της Lucky Fishing (Αφοί Σχοινά Ο.Ε.) και προστατεύονται κατά τις σχετικές διατάξεις του ελληνικού δικαίου, του ευρωπαϊκού δικαίου και των διεθνών συμβάσεων. Απαγορεύεται οποιαδήποτε αντιγραφή, αναλογική / ψηφιακή εγγραφή και μηχανική αναπαραγωγή, διανομή, μεταφορά, downloading, μεταποίηση, μεταπώληση, δημιουργία παράγωγης εργασίας ή παραπλάνηση του κοινού σχετικά με τον πραγματικό παροχέα του περιεχομένου του διαδικτυακού τόπου. Τυχόν αναπαραγωγή, επανέκδοση, φόρτωση, ανακοίνωση, διάδοση ή μετάδοση ή οποιαδήποτε άλλη χρήση του περιεχομένου με οποιοδήποτε τρόπο ή μέσο για εμπορικούς ή άλλους σκοπούς επιτρέπεται μόνο κατόπιν προηγούμενης γραπτής άδειας της Lucky Fishing (Αφοί Σχοινά Ο.Ε.) ή οιουδήποτε άλλου νόμιμου δικαιούχου των ανωτέρω πνευματικών δικαιωμάτων. Τα ονόματα, εικόνες, λογότυπα και διακριτικά γνωρίσματα που αντιπροσωπεύουν την Lucky Fishing (Αφοί Σχοινά Ο.Ε.) ή/και το ηλεκτρονικό της κατάστημα www.lucky-fishing.gr ή/και τρίτα μέρη συμβεβλημένα με αυτούς καθώς και τα προϊόντα ή τις υπηρεσίες τους, είναι αποκλειστικά σήματα και διακριτικά γνωρίσματα της Lucky Fishing (Αφοί Σχοινά Ο.Ε.) ή/και του www.lucky-fishing.gr ή/και των άνω τρίτων μερών και προστατεύονται από τους ελληνικούς, κοινοτικούς και διεθνείς νόμους περί εμπορικών σημάτων και βιομηχανικής και πνευματικής ιδιοκτησίας. Σε κάθε περίπτωση η εμφάνιση και έκθεση τους στην ιστοσελίδα www.lucky-fishing.gr και στο ηλεκτρονικό κατάστημα της Lucky Fishing (Αφοί Σχοινά Ο.Ε.) δεν θα πρέπει κατά κανένα τρόπο να εκληφθεί ως μεταβίβαση ή εκχώρηση άδειας ή δικαιώματος χρήσης τους.
                        </p><p><strong>5. Ευθύνη Χρήστη</strong>
                        </p><p>Οι χρήστες της ιστοσελίδας www.lucky-fishing.gr αποδέχονται ότι δεν θα χρησιμοποιούν τo ηλεκτρονικό κατάστημα της Lucky Fishing (Αφοί Σχοινά Ο.Ε.) για αποστολή, δημοσίευση, αποστολή με e-mail ή μετάδοση με άλλους τρόπους οποιουδήποτε περιεχομένου είναι παράνομο, βλαβερό, απειλητικό, προσβλητικό, ενοχλητικό, συκοφαντικό, δυσφημιστικό, χυδαίο, άσεμνο, λιβελογραφικό, αποτελεί παραβίαση του απορρήτου κάποιου άλλου, δείχνει εμπάθεια, ή εκφράζει φυλετικές, εθνικές ή άλλες διακρίσεις, δύναται να προκαλέσει βλάβες σε ανηλίκους με οποιονδήποτε τρόπο, δεν δικαιούται να μεταδοθεί σύμφωνα με την νομοθεσία ή τις συμβατικές ή διαχειριστικές σχέσεις (όπως εσωτερικές πληροφορίες, ιδιοκτησιακές και εμπιστευτικές πληροφορίες που αποκτήθηκαν ή αποκαλύφθηκαν ως μέρος εργασιακών σχέσεων ή που καλύπτονται σε συμφωνίες εμπιστευτικότητας), παραβιάζει οποιαδήποτε ευρεσιτεχνία, εμπορικό σήμα, εμπορικό μυστικό, πνευματικά δικαιώματα ή άλλα ιδιοκτησιακά δικαιώματα τρίτων, περιέχει ιούς λογισμικού ή οποιουσδήποτε άλλους κώδικες, αρχεία ή προγράμματα, που έχουν σχεδιαστεί με σκοπό την διακοπή, την πρόκληση βλάβης, την καταστροφή ή τον εξοπλισμό της λειτουργίας οποιουδήποτε λογισμικού ή υλικού υπολογιστών, ηθελημένα ή αθέλητα παραβαίνει την ισχύουσα ελληνική και κοινοτική νομοθεσία και των διατάξεων αυτής, δύναται να παρενοχλήσει τρίτους με οποιοδήποτε τρόπο και οποιοδήποτε περιεχόμενο χρησιμοποιείται για συλλογή ή αποθήκευση προσωπικών δεδομένων σχετικά με άλλους χρήστες.
                        </p><p><strong>6.Επιστροφές Προιόντων</strong>
                        </p><p>Επιστροφή προιόντων με χρέωση του Lucky Fishing (Αφοί Σχοινά Ο.Ε.) μπορει να πραγματοποιηθεί μονο σε εσφαλμένη αποστολή προιόντων δηλαδή σε περίπτωση άλλου είδος η ποιότητας .
                        Τα προιόντα πρέπει να επιστρέφονται όπως παρελήφθησαν απο τον πελάτη δηλαδή στην αρχική τους κατάσταση χωρίς καμία αλλοίωση.
                        Σε όποια άλλη περίπτωση επιστροφής γίνεται με χρέωση στον πελάτη.
                        Οι επιστροφές γίνονται αποδεκτές τις πρώτες 7 μέρες απο την αγορά τους.
                        </p><p><strong>7. Ασφάλεια</strong>
                        </p><p>Η Lucky Fishing (Αφοί Σχοινά Ο.Ε.) αναγνωρίζει τη σημασία του θέματος της ασφαλείας των προσωπικών σας δεδομένων καθώς και των ηλεκτρονικών σας συναλλαγών και λαμβάνει όλα τα απαραίτητα μέτρα, με τις πιο σύγχρονες και προηγμένες μεθόδους, ώστε να εξασφαλίζεται η μέγιστη δυνατή ασφάλειά σας. Όλες οι πληροφορίες, οι οποίες σχετίζονται με τα προσωπικά σας στοιχεία και τις συναλλαγές σας, είναι απόρρητες. Σε κάθε περίπτωση το ηλεκτρονικό κατάστημα της Lucky Fishing (Αφοί Σχοινά Ο.Ε.) με κανέναν τρόπο δεν αποκαλύπτει ή δημοσιοποιεί τα προσωπικά σας δεδομένα και τις πληροφορίες που μας εμπιστεύεστε. Τα προσωπικά δεδομένα τα οποία θέτετε στη διάθεσή μας με την εγγραφή σας ως μέλος χρησιμοποιούνται αποκλειστικά για την εκτέλεση των συναλλαγών σας. Όλες οι πληροφορίες κρυπτογραφούνται και φυλάσσονται με απόλυτη ασφάλεια.
                        </p><p><strong>8.Προστασία Προσωπικών Δεδομένων</strong>
                        </p><p>Κατά την επίσκεψή σας στις σελίδες του lucky-fishing.gr και προκειμένου να παραγγείλετε προϊόντα, αλλά και για να διασφαλισθεί η δυνατότητα επικοινωνίας μαζί σας ώστε να σας ενημερώνουμε για νέα προϊόντα μας, είναι πιθανό να σας ζητηθεί να δηλώσετε στοιχεία που σας αφορούν (όνομα, επάγγελμα, ηλεκτρονική διεύθυνση, ημερομηνία γέννησης κλπ.). Τα τυχόν προσωπικά δεδομένα που δηλώνετε οπουδήποτε στις σελίδες και τις υπηρεσίες του διαδικτυακού τόπου του lucky-fishing.gr, προορίζονται αποκλειστικά και μόνο για τη διασφάλιση της λειτουργίας της αντίστοιχης υπηρεσίας και δεν επιτρέπεται να χρησιμοποιηθούν από οποιονδήποτε τρίτο, χωρίς να τηρηθούν οι διατάξεις του Ν. 2472/97 σχετικά με την προστασία από επεξεργασία δεδομένων προσωπικού χαρακτήρα, όπως αυτός ισχύει κάθε φορά. Το ηλεκτρονικό κατάστημα lucky-fishing.gr λειτουργεί σύμφωνα με την ισχύουσα ελληνική και κοινοτική νομοθεσία και τηρεί με ασφάλεια τα προσωπικά σας δεδομένα για όσο χρονικό διάστημα είστε εγγεγραμμένος σε κάποια υπηρεσία του lucky-fishing.gr ταοποία διαγράφονται μετά την με οποιοδήποτε τρόπο λήξη της συναλλακτικής σχέσης. Τα προσωπικά δεδομένα που δηλώνετε στο ηλεκτρονικό κατάστημα lucky-fishing.gr χρησιμοποιούνται αποκλειστικά από αυτό ή συνεργαζόμενες με αυτό επιχειρήσεις, με σκοπό την υποστήριξη, προώθηση και εκτέλεση της συναλλακτικής σχέσης. Τα τηρούμενα στοιχεία του αρχείου δύνανται να κοινοποιηθούν στις αρμόδιες δικαστικές, αστυνομικές και άλλες διοικητικές αρχές κατόπιν νομίμου αιτήματός τους και σύμφωνα με τις κάθε φορά ισχύουσες νομοθετικές διατάξεις. Ο πελάτης έχει, μέσα στα πλαίσια της νομοθεσίας περί απορρήτου των τηλεπικοινωνιών, τα δικαιώματα ενημέρωσης και αντίρρησης που προβλέπουν τα άρθρα 11 έως 13 του ν. 2472/1997
                        </p>

                    </div>*@
                </div>
            </div>
        </div>
    </div>

</div>