﻿
@{
    ViewBag.Title = "Η συνεδρλια έληξε | Cannature";
    ViewBag.PageTitle = "Bank Session Expired";
}
<div class="text-center page-wrap titleAnimation">
    <h1>Σφάλμα <i class="fa fa-file"></i></h1>
    <p>Η συνεδρία στο περιβάλλον πληρωμής της τράπεζας έληξε. Επικοινωνήστε μαζί μας για την διευθέτηση της παραγγελίας σας.</p>
</div>
