﻿@{
    ViewBag.Title = "Σφάλμα | Cannature";
    ViewBag.PageTitle = "Error";
}
<div class="text-center page-wrap titleAnimation">
    <h1>Σφάλμα <i class="fa fa-file"></i></h1>
    <p>Λυπούμαστε, αλλα παρουσίαστηκε κάποιο σφάλμα. Παρακαλώ επικοινωνήστε μαζί μας.</p>
</div>