﻿@using System.IO
@using Microsoft.AspNetCore.Http.Extensions
@using WebMvc.Models
@using WebMvc.ViewModels
@model WebMvc.ViewModels.HomePageViewModel
@{
    ViewBag.Title = "Αρχική | Cannature";
    Layout = "~/Views/Shared/MasterPages/_LandingSiteLayout.cshtml";
}
@section PageStyle {
    @*You can add your custom style sheets for each page on this section.*@
}
@section PageJavaScript{
    @*You can add your custom JavaScript for each page on this section. This section will be added to the bottom of the page.*@
}
<div class="wrap" id="slider-wrap">
    <div id="slider">
        <div class="slider-part">
            <div class="slider-img-div" style="background-image:url(/images/slide03.jpg);"></div>
            <div class="overlay slider-overlay"></div>
        </div>
    </div>
</div>

<div class="wrap" id="cat-slider-wrap">
    <div class="container">
        <div class="class">
            <div class="col-md-12">
                <div id="cat-slider">
                    <a href="#">
                        @Html.Raw(File.ReadAllText("wwwroot/svg/cbdoil.svg")) <br />@*@Model.Categories.SingleOrDefault(c => c.Id == 1)?.Title*@
                    </a>
                    <a href="#">
                        @Html.Raw(File.ReadAllText("wwwroot/svg/cbdcapsules.svg"))<br /> @*@Model.Categories.SingleOrDefault(c => c.Id == 2)?.Title*@
                    </a>
                    <a href="#">
                        @Html.Raw(File.ReadAllText("wwwroot/svg/cbdcream.svg"))<br /> @*@Model.Categories.SingleOrDefault(c => c.Id == 3)?.Title*@
                    </a>
                    <a href="#">
                        @Html.Raw(File.ReadAllText("wwwroot/svg/cbdfood.svg"))<br /> @*@Model.Categories.SingleOrDefault(c => c.Id == 4)?.Title*@
                    </a>
                    <a href="#">
                        @Html.Raw(File.ReadAllText("wwwroot/svg/cbdelectronic.svg"))<br /> @*@Model.Categories.SingleOrDefault(c => c.Id == 5)?.Title*@
                    </a>
                    <a href="#">
                        @Html.Raw(File.ReadAllText("wwwroot/svg/cbdseeds.svg"))<br /> @*@Model.Categories.SingleOrDefault(c => c.Id == 6)?.Title*@
                    </a>
                    <a href="#">
                        @Html.Raw(File.ReadAllText("wwwroot/svg/cbdpaste.svg"))<br />@*@Model.Categories.SingleOrDefault(c => c.Id == 7)?.Title*@
                    </a>
                    <a href="#">
                        @Html.Raw(File.ReadAllText("wwwroot/svg/petcbd.svg"))<br />@*@Model.Categories.SingleOrDefault(c => c.Id == 8)?.Title*@
                    </a>
                    <a href="#">
                        @Html.Raw(File.ReadAllText("wwwroot/svg/beautycbd.svg"))<br /> @*@Model.Categories.SingleOrDefault(c => c.Id == 9)?.Title*@
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="wrap" id="home-blocks-wrap">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4">
                <span class="home-block" style="background-image:url(images/oil.jpg)">
                    <div class="overlay"></div>
                    <div class="home-block-title light">Κορυφαία ελαία κανναβης</div>
                </span>
            </div>
            <div class="col-sm-4">
                <span class="home-block" style="background-image:url(images/kannabio.jpg)">
                    <div class="overlay"></div>
                    <div class="home-block-title light">Εκπτώσεις σε προϊοντα<span>εως 50%</span></div>
                </span>
            </div>
            <div class="col-sm-4">
                <span class="home-block" style="background-image:url(images/sensi.jpg)">
                    <div class="overlay"></div>
                    <div class="home-block-title light">Μεταφορικά<span>δωρεαν για παραγγελίες ανω των 40 &euro;</span></div>
                </span>
            </div>
        </div>
    </div>
</div>

<div class="wrap">
    <div class="container">

        <div class="row no-gutter-xs">

            <div class="col-md-12"><div class="section-title">ΔΗΜΟΦΙΛΗ ΠΡΟΙΟΝΤΑ</div><div class="section-subtitle">Δείτε τα best sellers μας</div></div>
            <div>

                @{

                    foreach (var frontPageCategory in Model.Categories.Where(c => c.IsFrontPageCategory == true))
                    {
                        var bestProductsPerCategory = @Model.Products.Where(c => c.CategoryId == frontPageCategory.Id && c.IsBest == true);
                        foreach (var product in bestProductsPerCategory)
                        {
                            <div class="col-sm-6 col-md-3">
                                @await Html.PartialAsync("../Shared/Sections/_ProductBox", new ProductBoxViewModel() { Product = product, Media = product.Pictures, Versions = product.Versions })
                            </div>
                        }

                    }
                }
            </div>
        </div>
        <div class="row">
            <div class="clearfix"></div>
            <div class="col-sm-12 t-center"><a class="button" href="#"> ΠΕΡΙΣΣΟΤΕΡΑ ΠΡΟΪΟΝΤΑ </a></div>
        </div>
    </div>
</div>


<div class="wrap" id="acc-wrap">
    <span class="acc-block" style="background-image:url(images/cbd-oil.jpg)">
        <span class="overlay"></span>
        <span class="acc-icon">
            @Html.Raw(File.ReadAllText("wwwroot/svg/cbdoil.svg"))
            <br />@Model.Categories.SingleOrDefault(c => c.Id == 501)?.Title
        </span>
        <a class="acc-txt" href="#">
            <span class="acc-txt-title">@Model.Categories.SingleOrDefault(c => c.Id == 501)?.Title</span>
            <span class="acc-txt-subtitle">
                Το έλαιο κανναβιδιόλης (cbd) διαθέτει τεράστια ευεργετικά οφέλη για τον οργανισμό και μπορεί να χρησιμοποιηθεί τόσο ως μια εναλλακτική μορφή θεραπείας για ασθένειες και παθήσεις,
                όσο και σαν ένα φυσικό συμπλήρωμα διατροφής.
            </span>
        </a>
    </span>
    <span class="acc-block" style="background-image:url(images/cbd-vape.jpg)">
        <span class="overlay"></span>
        <span class="acc-icon">
            @Html.Raw(File.ReadAllText("wwwroot/svg/cbdelectronic.svg"))
            <br />@Model.Categories.SingleOrDefault(c => c.Id == 1001)?.Title
        </span>
        <a class="acc-txt" href="#">
            <span class="acc-txt-title">@Model.Categories.SingleOrDefault(c => c.Id == 1001)?.Title</span>
            <span class="acc-txt-subtitle">
                Με την διαδικασία της άτμισης η κανναβιδιόλη CBD θερμένεται και μετατρέπεται σε ατμό
                απελευθερώνοντας όλα τα ενεργά κανναβινοειδή. Έτσι δημιουργείται μια μοναδική εμπειρία χαλάρωσης, ευεξίας και καλύτερης συνολικής υγείας.
            </span>
        </a>
    </span>
    <span class="acc-block" style="background-image:url(images/cbd-capsules.jpg)">
        <span class="overlay"></span>
        <span class="acc-icon">
            @Html.Raw(File.ReadAllText("wwwroot/svg/cbdcapsules.svg"))
            <br />@Model.Categories.SingleOrDefault(c => c.Id == 1002)?.Title
        </span>
        <a class="acc-txt" href="#">
            <span class="acc-txt-title">@Model.Categories.SingleOrDefault(c => c.Id == 1002)?.Title</span>
            <span class="acc-txt-subtitle">
                Οι κάψουλες CBD είναι απόλυτα απορροφήσιμες από το σώμα και πολύ πρακτικές να τις έχεις μαζί σου καθ’ όλη τη διάρκεια της ημέρας.
                Πρόκειται για τον ευκολότερο τρόπο να καταναλώσεις την ουσία της κανναβιδιόλης.
            </span>
        </a>
    </span>
    <span class="acc-block" style="background-image:url(images/cbd-chocolate.jpg)">
        <span class="overlay"></span>
        <span class="acc-icon">
            @Html.Raw(File.ReadAllText("wwwroot/svg/cbdchocolate.svg"))
            <br />@Model.Categories.SingleOrDefault(c => c.Id == 1003)?.Title
        </span>
        <a class="acc-txt" href="#">
            <span class="acc-txt-title">@Model.Categories.SingleOrDefault(c => c.Id == 1003)?.Title</span>
            <span class="acc-txt-subtitle">
                Aν είσαι λάτρης της υγιεινής διατροφής και φροντίζεις την υγεία σου, φαντάσου πόση περισσότερη ευεξία θα νιώθεις καθημερινά.  H γεύση τους θα σε συναρπάσει και θα γίνει η νέα αγαπημένη σου συνήθεια.
            </span>
        </a>
    </span>
    <div class="clearfix"></div>
</div>



<div class="wrap">
    <div class="container">
        <div class="wrap" id="offer-wrap">
            <div class="container-fluid">
                <div class="row same-height-md">
                    @{
                        var specialOffer = @Model.Products.SingleOrDefault(p => p.ProductId == 511);
                        var specialOfferMainVersion = @Model.Products.SingleOrDefault(p => p.ProductId == 511)?.Versions?.FirstOrDefault();
                    }
                    <div class="col-md-6">
                        <a asp-action="Index" asp-controller="Product" asp-route-id="@specialOffer?.ProductId">
                            <span class="offer-img" style="background-image: url('@Url.Content(specialOffer?.Pictures.SingleOrDefault(p => p.PictureTypeId == Picture.IsMainPhoto)?.FullPictureUri ?? "~/images/default-product.png")');"></span>
                        </a>
                    </div>
                    <div class="col-md-6">
                        <div class="offer-block">
                            <h3>ΓΙΑ ΛΙΓΕΣ ΜΕΡΕΣ ΜΟΝΟ</h3>
                            <h1>@specialOffer?.Name</h1>
                            @{
                                if (specialOfferMainVersion.Discount != 0)
                                {
                                    <b>από @Math.Round(specialOfferMainVersion.InitialPrice, 2).ToString("0.00") €</b>
                                    <h1>μόνο @(Math.Round(specialOfferMainVersion.InitialPrice - (specialOfferMainVersion.Discount * specialOfferMainVersion.InitialPrice), 2).ToString("0.00")) €</h1>
                                }
                                else
                                {
                                    <h1>μόνο @Math.Round(specialOfferMainVersion.InitialPrice, 2).ToString("0.00") €</h1>
                                }
                            }
                            <a class="button" asp-action="Index" asp-controller="Product" asp-route-id=6>ΑΓΟΡΑ ΤΩΡΑ</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row no-gutter-xs">
            <div class="col-md-12">
                <div class="section-title">NΕΑ ΠΡΟΙΟΝΤΑ</div>
                <div class="section-subtitle">Δείτε τα καινούργια μας προϊόντα</div>
            </div>
            <div>
                @{
                    var mostRecentProducts = @Model.Products.OrderByDescending(p => p.ProductId).Take(8);
                    foreach (var product in mostRecentProducts)
                    {
                        <div class="col-sm-6 col-md-3">
                            @await Html.PartialAsync("../Shared/Sections/_ProductBox", new ProductBoxViewModel() { Product = product, Media = product.Pictures, Versions = product.Versions })
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>





