﻿@{
     ViewBag.Title = "H σελίδα δεν βρέθηκε | Cannature";
     ViewBag.PageTitle = "404";
 }
 
 <div class="container page-wrap titleAnimation">
     <div class="row">
         <div class="col-sm-12 text-center">
             <h1>H σελίδα δεν βρέθηκε <i class="fa fa-file"></i></h1>
             <p>Συγνώμη, αλλά η σελίδα που αναζητάτε δεν βρέθηκε</p>
         </div>
         <div class="col-sm-12 t-center">
             <a class="button" href="/">Επιστροφή στο e-shop</a>
         </div>
     </div>
     <br/>
 </div>
