﻿<div class="welcome-page container">
    <div class="row page-header">
        <div class="col-sm-10">
            <h1>
                <img class="icon" src="~/icon.jpg">
                Καλώς ορίσατε στο MasterThesis IdentityServer4
                @*<small>(build {version})</small>*@
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8">
            <p>
                O IdentityServer4 χρησιμοποιεί ενα
                <a href="~/.well-known/openid-configuration">discovery αρχείο</a>
                το οποίο clients μπορουν να χρησιμοποιούν για authentication και authorization.
            </p>
        </div>
    </div>
</div>