﻿
@{
    ViewData["Title"] = "Μενού Χρήστη | Cannature";
}

<div class="container page-wrap">
    <div class="shopping-cart">
            <div class="row">
                <div class="col-sm-12">
                    <div>
                        <a class="button cart-button" href="#"><span class="fa fa-2x fa-user-circle"></span> O λογαριασμός μου</a>
                    </div>
                    <div>
                        <a class="button cart-button" href="#"><span class="fa fa-2x fa-shopping-bag"></span> Οι παραγγελίες μου</a>
                    </div>
                    <div>
                        <a class="button cart-button" href="#"><span class="fa fa-2x fa-heart"></span> H wishlist μου</a>
                    </div>
                    <div>
                        <a class="button cart-button" id="proceed-button" asp-action="Signout" asp-controller="Account"><span class="fa fa-2x fa-sign-out"></span> Έξοδος</a>
                    </div>
                </div>
            </div>
    </div>
</div>

