﻿@model WebMvc.ViewModels.CartIndexViewModel
@{
    ViewBag.Title = "Καλάθι | Cannature";
    ViewBag.PageTitle = "ΚΑΛΑΘΙ";
}
<div class="container page-wrap">
    <form id="cart-form" asp-action="UpdateCart" asp-controller="Cart" asp-antiforgery="true" asp-route-returnUrl="@Model.ReturnUrl" method="post">
        <div class="shopping-cart fadeUpEffect">
            <div class="row">
                <div class="col-sm-9">
                    <table class="table">
                        <tr>
                            <th>ΚΑΛΑΘΙ</th>
                        </tr>
                        @{
                            var cartLine = 1;
                            if (Model.Cart.LineCollection.Count() != 0)
                            {
                                foreach (var line in Model.Cart.LineCollection)
                                {
                                    <tr>
                                        <td>
                                            <a asp-action="Index" asp-controller="Product" asp-route-id="@line.ProductId" asp-route-productVersionId="@line.ProductVersionId">
                                                <img class="product-cart-image" src="@Url.Content(line.PictureUrl)" />
                                            </a>
                                        </td>
                                        <td class="td-title">
                                            @line.ProductName
                                        </td>

                                        @*<td class="td-half-cart"><b>ΕΚΔΟΣΗ<br /></b>@line.Specification</td>*@

                                        @{
                                            <td class="td-half-cart"><b>ΤΙΜΗ<br /></b>&euro; @line.Price.ToString("0.00")</td>
                                        }
                                        <td class="td-half-cart">
                                            <b>ΠΟΣΟΤΗΤΑ<br /></b>
                                            <div class="spinner" id="cart-spinner" data-target="input-@cartLine">
                                                <input type="text" class="form-control quantity-text-box" name="@(String.Concat(@line.ProductId, @line.ProductVersionId.ToString()))" value="@line.Quantity" min="0" max="100" />
                                                @ViewData[(String.Concat(@line.ProductId, @line.ProductVersionId.ToString()))]
                                                <div class="input-group-btn-vertical">
                                                    <button class="btn btn-default" type="button"><i class="fa fa-minus"></i></button>
                                                    <button class="btn btn-default" type="button"><i class="fa fa-plus"></i></button>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="td-half-cart">
                                            <b>ΣΥΝΟΛΟ<br /></b>
                                            @{
                                                <b>&euro; @(Math.Round(@line.Quantity * @line.Price).ToString("0.00"))</b>
                                            }

                                        </td>
                                        <td class="clearfix"></td>
                                        <td>
                                            <a class="delete-item" asp-action="RemoveFromCart" asp-controller="Cart" asp-route-productId="@line.ProductId" asp-route-productVersionId="@line.ProductVersionId" asp-route-returnUrl="@Model.ReturnUrl">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    cartLine++;
                                }
                            }
                            else
                            {
                                <td>To καλάθι σας είναι αδείο.</td>
                            }

                        }


                    </table>
                </div>
                <div class="col-sm-3">
                    <div>
                        <button class="button cart-button" id="update-button" type="submit">ΕΝΗΜΕΡΩΣΗ ΚΑΛΑΘΙΟΥ</button>
                    </div>
                    <div>
                        <a asp-action="ClearCart" asp-controller="Cart" asp-route-returnUrl="@Model.ReturnUrl" class="button cart-button">ΚΑΘΑΡΙΣΜΟΣ ΚΑΛΑΘΙΟΥ</a>
                    </div>
                    <div>
                        <a href="@Model.ReturnUrl" class="button cart-button">ΣΥΝΕΧΕΙΑ ΑΓΟΡΩΝ</a>
                    </div>
                    <div>
                        <a class="button cart-button" id="proceed-button" asp-action="Index" asp-controller="CheckoutInfo">ΑΓΟΡΑ</a>
                    </div>
                </div>
            </div>


        </div>

    </form>
</div>

