﻿.container-fluid {
    max-width: 100%;
}

.info-table th, .info-table td {
    white-space: normal;
}

body {
    color: #fff;
}
h1,h2 {
    font-size:150%;
    margin-bottom:10px;
}
input, select, textarea, input[type=password], input[type=text], .form-control {
    color: #fff;
    background: #646464;
    border: 1px solid #fff;
    max-width:800px;
}

textarea {
    min-height: 225px;
}

.form-control:focus{
    border:1px solid #fff;
}
input[type=password], input[type=text]{
    height:auto;
    line-height:2;
}
.chosen-container{
    display:block;
}
.chosen-container-multi .chosen-choices {
    background: #646464;
    border-radius: 5px;
}
.chosen-container-active .chosen-choices{
    border:1px solid #fff;
}
.chosen-container-multi .chosen-choices li.search-field input[type="text"]{
    color:#fff;
}
.mce-container {
    /*border-radius: 5px;*/
    overflow: hidden;
    max-width: 800px !important;
}
.mce-panel {
    background: #474747 !important;
}
.mce-menubar .mce-menubtn:hover, .mce-menubar .mce-menubtn.mce-active, .mce-menubar .mce-menubtn:focus {
    background: #5A5A5A !important;
}
.mce-menubar .mce-menubtn button span {
    color: #fff !important;
}
.mce-menu-item {
    color: #fff !important;
}
.mce-ico, .mce-container, .mce-container *, .mce-widget, .mce-widget *, .mce-reset {
    color: inherit !important;
}
.mce-menu-item:hover, .mce-menu-item:focus {
    background: #5A5A5A !important;
}
.mce-menu-item.mce-disabled, .mce-menu-item.mce-disabled:hover{
    background:transparent !important;
}
.mce-menu-item.mce-disabled .mce-text, .mce-menu-item.mce-disabled:hover .mce-text, .mce-menu-item.mce-disabled .mce-ico, .mce-menu-item.mce-disabled:hover .mce-ico{
    color: #646464 !important;
}
.mce-btn-group .mce-btn {
    background: transparent !important;
}
.mce-textbox{
    background:#000 !important;
}
h1 {
    margin: 0;
}
a {
    color: #9fea7e;
}
a:hover {
    color: #fff;
}
th a {
    color: #9fea7e;
}
th a:hover {
    color: #fff;
}
input[type=checkbox] {
    display: inline-block;
    -webkit-appearance: checkbox;
}
input[type=radio] {
    display: inline-block;
    -webkit-appearance: radio;
}
::placeholder {
    color:#808080 !important;
}

.admin-icon {
    font-size: 150%;
    margin: 0 5px;
}

.no-wrap {
    white-space: nowrap !important;
}

.info-table-title {
    width: 250px;
} 

.info-table {
    width: 100%;
    margin:5px 0 20px 0;
}
.info-table th, .info-table td {
    border-color: #505050;
    background:transparent;
}
.info-table th {
    background:#606060;
    border-color: #808080;
}
.info-table tr:nth-child(odd) {
    background-color: #464646;
}
hr {
    border-top: 1px solid #505050;
}

.filter-table {
    width: auto;
    min-width:300px;
    height: auto;
    display: inline-block;
    vertical-align:middle;
    line-height: 1;
    border: 1px solid #808080;
    padding: 7px 4px;
    border-radius: 3px;
}
input[type=submit], .button, .btn, .btn-primary {
    line-height: 1;
    display: inline-block;
    width: auto;
    height: auto;
    font-size: 16px;
    background: #9fea7e;
    border-color: #9fea7e;
    color: #000;
    padding:8px 20px;
}
input[type=submit]:hover, .button:hover, .btn:hover, .btn-primary:hover, .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background: #4e6d26;
    border-color: #4e6d26;
    color: #fff;
}
.input-validation-error {
    border-color:red !important;
}
.admin-header {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    background: #474747;
    border-bottom: 3px solid #000;
    height: 80px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    z-index: 1000;
}

.btn.log-out {
    margin-top: 15px;
}
#header-logo {
    max-height: 60px;
    max-width: 100%;
}
#admin-main-table {
    border:0;
    border-collapse:collapse;
    width:100%;
    height:100%;
}
#admin-sidemenu, #admin-content {
    padding: 100px 20px 20px 20px;
    vertical-align: top;
}
#admin-content {
    background:#000;
    color:#fff;
}
td#admin-sidemenu {
    background: #646464;
    padding-right: 0;
    padding-left: 0;
    width: 300px;
}
#admin-sidemenu ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
#admin-sidemenu ul li {
    margin: 0;
    padding: 0;
    display: block
}
#admin-sidemenu a {
    display: block;
    padding: 15px;
    line-height: 1;
    white-space: nowrap;
    color: #fff;
    border-bottom: 1px solid #464646;
}
#admin-sidemenu a:hover {
    background: #646464;
}
#admin-sidemenu a.selected {
    color: #4e6d26;
    background: #fff;
}
.pagination.wiwet-pagination > li > a, .pagination.wiwet-pagination > li > span {
    background: #9fea7e;
    border-color: #9fea7e;
    color: #000;
}
input[type=password]:focus, input[type=text]:focus {
    box-shadow:0px 0px 10px #9fea7e;
}
.delete-link {
    font-size:20px;
    cursor:pointer;
}

label, .wiwet-checkout label {
    cursor: pointer;
    color: #ffffff;
}